[2015-02-15 17:31] mfclarke opened #9 "Width, Height and other params"
Hi,

I'm relatively new to React.js so this might be a silly question. But is there any support in this component for width, height, webkit-playsinline etc. parameters that you can normally pass to the Youtube iframe player?

Thanks

[2015-02-16 23:48] compedit commented on #9
I want to support this but it's going to require some changes to & rethinking about the internal/external API. See my comments on the PR

[2015-02-16 23:48] #9 closed

[2015-04-08 18:30] samlecuyer opened #15 "please publish a new version"
The last time the version was updated was 10 days ago.  The es6 rewrite was 8 days ago.  I'm trying to install the latest and I'm running into a bug that was fixed with the rewrite.

[2015-04-08 19:36] compedit commented on #15
Sorry about that! merged & published.

[2015-04-08 19:36] #15 closed

[2015-04-08 20:10] samlecuyer commented on #15
thanks!

[2015-05-12 04:35] paulwehner opened #17 "YouTube Javascript API deprecated"
Do you plan to update this to leverage the youtube iframe api? The JS api has already been deprecated.

[2015-05-14 06:29] paulwehner opened #19 "Best practice for programmatically controlling the player?"
What would you consider to be the best approach to programmatically control the player? I could see two approaches:

1) Exposing the _internalPlayer to the Parent component, and allowing the parent to make calls against _internalPlayer directly

2) Augmenting react-youtube component, so that Parent components can pass in player commands. _interalPlayer thus remains hidden from the Parent component

[2015-05-16 23:00] compedit commented on #17
[It's using it already :smiley:!](https://github.com/compedit/react-youtube/blob/master/src/lib/createPlayer.js#L45)

[2015-05-16 23:17] compedit commented on #19
I suppose 1 would be the easiest option. We could pass the internal player up via `onReady`, but it feels kinda dirty honestly. thoughs?

[2015-05-19 19:24] paulwehner commented on #19
For now I'm going with option 1. I agree its a little dirty, but its the easiest and prevents you from having to rewrite all the API methods. If I run into any issues I'll provide an update.

[2015-05-20 11:24] compedit commented on #17
Going to close this out

[2015-05-20 11:24] #17 closed

[2015-05-21 08:42] compedit commented on #19
Player is now accessible in every event handler, similar to the official API. See a3c2479ba729aad50db97e7214fea4ff31014a95, 932fc99b8372343438ccbbbccd97c2c475f9e96f

Thanks for the ideas & help!

[2015-05-21 08:42] #19 closed

[2015-06-20 20:35] framerate opened #22 "More than one instance on the same page?"
When I use more than one on the same page, only the 2nd one works.

Any ideas why?

[2015-06-21 23:42] compedit commented on #22
Weird, it probably has something to do with the event handlers having to be globalized.

I'll take look and update you on anything I find

[2015-06-23 20:52] framerate commented on #22
Also, if you read this @compedit have you gotten the full screen button to show up in an embed?

[code]

seems to be as instructed but it doesn't show up.

[2015-06-23 23:08] KeweiCodes commented on #22
I'm currently looking at this problem too. Would be nice to get it fixed soon. :/

[2015-06-24 00:28] KeweiCodes commented on #22
From a bit more of my testing, I've found that it's always the last react-youtube component which is rendered. For some reason, calling:
**new window.YT.Player(props.id, params)**
doesn't actually *return* unless it's targeted at the last component...

[2015-06-24 13:39] compedit commented on #22
I think I've got it,  rough version of it [here](https://github.com/compedit/react-youtube/blob/multiple-instances-fix/src/lib/createPlayer.js), with a demo on [jsbin](http://output.jsbin.com/dusotugito). Would you all mind making sure the demo works on your machines too?

Turns out `window.onYouTubeIframeAPIReady` was being redefined with every single player creation, so when the API actually loa

[2015-06-25 02:43] framerate commented on #22
@compedit Unfortunately I refactored my code so that it creates the instance on-demand to get past this bug. Once I finish this deadline though, I'm more than happy to try and help test it. I'll let you know, but update this thread if you do a release and I'll at least get it into my package.json to test backwards compat.

[2015-06-25 11:42] #22 closed

[2015-06-25 11:43] compedit commented on #22
Everything should work perfectly now!

[2015-06-25 13:16] compedit opened #24 "Need to randomize default player ids"
Using `react-yt-player` allows for conflicts when multiple instances are used on a page

[2015-06-27 09:06] #24 closed

[2015-07-07 05:39] paulwehner opened #26 "When URL changes why destroy player vs keep using existing player and loadVideoById?"
Hey, I was just wondering why with the url prop changing you choose to destroy the player and create a new one versus keep the existing player and load the new video using the loadVideoById method? I would imagine loadVideoById would be quicker, and if the video is fullscreen, it wouldn't reset the view.

[2015-07-09 23:47] compedit commented on #26
There were a few pain points combining `loadVideoById`, and the [player parameters](https://developers.google.com/youtube/player_parameters) passed into the component. `loadVideoById` sucks and completely ignores the `autoplay` parameter, so that param would have to be tracked internally, and at the time I took it out I was trying to match API compat with the regular iframe API

I'm not against tr

[2015-09-11 10:51] gajus opened #29 "Abstract YouTube API using Playtube"
You can remove a lot of the code if you use https://github.com/gajus/playtube component. That'd reduce the bug surface and make the component easier to maintain. If playtube is missing any features, I will happily update it.

[2015-09-11 17:26] compedit commented on #29
That looks great! Will definitely try integrating it this weekend

[2015-09-29 18:45] hackingbeauty opened #32 "onStateChange does not work"
Hello,

I'm trying to use onStateChange, but it does not work:

[code]

Am I doing something wrong?

[2015-09-29 22:38] compedit commented on #32
It's not exposed, the  `ending`, `playing` and `paused` events from it are exposed via `onEnd`, `onPlay` and `onPause` though.

`onStateChange` will probably be exposed if I get around to implementing #29 though, which will hopefully be soon.

Sorry about that.

[2015-09-29 22:38] #32 closed

[2015-10-27 19:11] tjallingt opened #36 "Component stops updating when you change the url before onReady"
It seems that the component stops updating when you change the url before the onReady event of the player.
I'm building something where you can press a "next video" button, when used normally there is no problem however when you spam the button the component stops changing videos.
It also happens when I update the video in "componentDidMount"; I load the player with the url '' (empty string) and t

[2015-10-28 15:39] tjallingt commented on #36
I can consistently reproduce this error using this code. I expect this to load the video `Rick Astley - Never Gonna Give You Up` but instead it loads the first video `Trolling Saruman`.
[code]
I'm gonna debug this some more and hopefully figure out what is going wrong here...

[2015-10-29 10:42] troybetz commented on #36
Very weird, will dig into this today!

[2015-10-29 19:11] tjallingt commented on #36
Hey thanks for responding :)

It seems that the issue comes from not correctly destroying the player...
When it gets loaded really quickly the first time this piece of code doesn't happen because of the delay before the `createPlayer` callback
[code]
Because the player gets created twice on the same element the youtube iframe api returns an empty player object the second time, this empty player ge

[2015-10-29 23:15] troybetz commented on #36
Huge, huge thanks for taking the time to check this out! #29 definitely needs to go through soon I've been putting it off for too long.

And honestly, if you want to do the rewrite I'm all for it. It'd legit be my first time accepting a PR that extensive so we'd both be learning in the process!. But either way, that rewrite is inevitable and shouldn't take *too* long so don't to waste your time wi

[2015-10-30 10:44] tjallingt commented on #36
Thank you :D
I already ported the basic functionality (playing videos, haha), and will commit them to the rewrite branch soon.

[2015-10-30 14:13] tjallingt commented on #36
```remote: Permission to compedit/react-youtube.git denied to tjallingt.```
:cry:

I attempted to update the dependencies and fix the tests as well but ran into some nasty problems...
Not sure whether I can manage to rewrite the tests by myself as I have almost no experience writing tests and due to the abstraction of the youtube api by `youtube-player` I'm not sure how to do most of the tests any

[2015-10-30 17:38] troybetz commented on #36
Oops that's mybad, I should have mentioned. You need to open a pull request, so we can do something [like this](https://github.com/troybetz/react-soundcloud-widget/pull/7).

Check [this](https://guides.github.com/introduction/flow/) out for the general idea. [This guide](https://help.github.com/articles/using-pull-requests/) walks you through the process a little more in depth. Just copy/paste the

[2015-10-31 11:34] tjallingt commented on #36
I managed, thanks for the help :D

[2015-11-02 21:55] eleweek opened #38 "The project's link returns 404"
Hi, I've clicked on http://troybetz.com/react-youtube/ and it returned 404. I think it shouldn't return 404!

[2015-11-02 22:03] troybetz commented on #38
Oops, I moved my domain away from github pages and forgot to update all the links. Thanks!

[2015-11-02 22:03] #38 closed

[2015-11-02 22:05] eleweek commented on #38
You're welcome! Also, thanks for the quick fix!

[2015-11-05 21:04] eleweek opened #39 "Easiest way of using the project outside of node.js environment?"
Hi, I am new to the JS world, sorry if this is a newbie question. I've only recently started learning react.js , and I'd like to use react-youtube for my current project(which I am doing for fun). My current backend is a simple Sinatra app, and I am trying to avoid using node.js infrastructure(like npm).

I tried doing `npm install` in react-youtube dir and then dropping `YouTube.js` and `lib/crea

[2015-11-06 13:01] tjallingt commented on #39
Hey,
I think `require.js` cannot find the `get-youtube-id` because it isn't located in your `/static` folder. If you want to use `require.js` with `react-youtube` you will first need to bundle all of its dependencies in a single file (just concatenating `Youtube.js` and `lib/createPlayer.js` isn't enough).
This can be done using a tool like `browserify` which creates a javascript bundle that you c

[2015-11-06 19:07] troybetz commented on #39
Like @tjallingt said, in general you'll be much happier with a node.js based workflow!

But just for you, [here's a quick & dirty UMD build of react-youtube](https://gist.github.com/troybetz/b740a3b8dc092b7daa70) and [here's the webpack config I used to generate it](https://gist.github.com/troybetz/1c013e6eb55da01d40a9) 😀. You can include it via a script tag and it'll be available as `window.React

[2015-11-06 19:07] #39 closed

[2015-11-07 15:44] tjallingt opened #40 "Upgrade Babel to 6.0.0+"
Babel 6.0.0+ is quite different from pre 6.0.0 in that it now has no functionality of its own any more and just supports the loading of packages that will transpile your code. I didn't upgrade it earlier because it was still quite fresh (and I didn't read up on the details of the changes yet). I think upgrading is probably a good idea and all that needs to happen is some changes to the `package.js

[2015-11-07 17:30] troybetz commented on #40
Rewrite branch sounds good to me!

[2015-11-07 20:29] tjallingt commented on #40
Done!

[2015-11-07 20:29] #40 closed

[2015-11-12 18:59] eleweek commented on #39
@tjallingt @troybetz Thanks a lot!

No real reason, I am somewhat lazy, and it just seems like an overkill for the small project I'm working on.

Also, thanks a lot of for the explanation! After reading it, I read about AMD/require.js and now I have much better understanding of what went wrong.

Thanks a lot! ^_^

[2015-11-26 11:07] lapanoid opened #43 "Support of react 14?"
Hello, thanks for your component!
I am updating my project to react 14 and as I use react-youtube component currently it is peerDependacy problem, I have started to make changes and wished to make PR but noticed that you have rewrite branch with react 14.
Do you have some estimate when it will be merged with master and published?
Thanks!

[2015-11-27 11:58] tjallingt commented on #43
The release date is completely up to @troybetz, but I agree an eta would be a good idea.

All that really needs to happen before publishing it on `npm` is a major version bump seeing as the `rewrite` branch is already feature complete.

In the meantime you can try using the `rewrite` branch using `npm`'s "[github url as a dependency](https://docs.npmjs.com/files/package.json#github-urls)"-feature

[2015-11-27 11:59] #29 closed

[2015-11-27 11:59] #26 closed

[2015-11-27 11:59] #36 closed

[2015-12-03 03:47] troybetz commented on #43
Sorry for the late reply @lapanoid, been swamped on the side. 5.0.0 should be out in a few days, will close this when it's out

[2015-12-03 03:51] troybetz opened #44 "Better example"
Need to include an example(s) in the `master` branch demonstrating things like creating a new player, accessing the `_internalPlayer`, etc

[2015-12-03 03:52] troybetz opened #45 "Add `videoId` prop"
Tired of having to write `https://www.youtube.com/watch?v=${videoId}` every time.

[2015-12-04 04:27] troybetz commented on #45
https://github.com/troybetz/react-youtube/commit/e760033e935b93ba74cd860fba69ca044c2f951d

[2015-12-04 04:27] #45 closed

[2015-12-11 20:40] goto-bus-stop commented on #43
@troybetz friendly ping :) is anything blocking v5 still? i'd be happy to help out if so!

[2015-12-12 14:58] troybetz commented on #43
Sorry, on it!

[2015-12-12 16:55] troybetz commented on #44
79c096693de3a4229cbc3fe9a0f146263572a322

[2015-12-12 16:55] #44 closed

[2015-12-12 20:22] troybetz commented on #43
5.0.0 is available & supports react 14, sorry for the wait!

[2015-12-12 20:22] #43 closed

[2015-12-12 20:43] goto-bus-stop commented on #43
all good! many thanks! :)

[2015-12-18 21:39] BenPiggot opened #51 "Getting warning message: "React component classes must extend React.Component", component not rendering"
The plug-in was working until my team upgraded to the React 0.14.3 for our current project. My assumption is that the problem is related to versioning/compiling, but I can't figure it out looking at the source code.

[2015-12-19 19:04] tjallingt commented on #51
From what you are describing it appears that `react-youtube` is not the source of the problem...
React is telling you that you are attempting to use a component that is not extending `React.Component`.
`react-youtube` is clearly doing this, [see this line](https://github.com/troybetz/react-youtube/blob/master/src/YouTube.js#L14).

Please confirm that all component classes that are used in your pro

[2015-12-19 19:45] BenPiggot commented on #51
We are not using React.Component elsewhere in the project - we are using React.createClass. We are using ES6, however. All other components successfully render - this is the only place where a Component does not appear. We are using systemjs to require all our modules.

If you wish, I can supply code to provide more context.

[2015-12-19 20:02] tjallingt commented on #51
Mhhh interesting...
Some code might help because it is quite unclear to me what would cause this issue.
I'm still not convinced the issue lies with `react-youtube` but I'll see if I can help regardless :)

[2015-12-19 22:26] BenPiggot commented on #51
Ok - here is the import section of the relevant file:

[code]

And here is the function in the module that attempts to instantiate the React component:

[code]

I should also note that we are using version 4.1.2 of your plugin. The YouTube.js file we are importing via npm is written in ES5 (which seems different than the current version at Github?)

[2015-12-19 23:05] tjallingt commented on #51
Version 4.1.2 (the previous version) was also written in es6, on npm install everything gets compiled down to es5 with babel, I presume that this explains what you are seeing.

From the code provided I can't tell where the problem would lie so I'll have to speculate but I think it might have to do with systemjs and the way you are compiling your es6 code (babel/traceur/?).

I can think of three op

[2015-12-20 01:50] BenPiggot commented on #51
Thanks! I appreciate your help - I'll try some of the above and let you know how it works out.

[2015-12-30 05:32] abeyuya commented on #51
I have same issue...
I will share how it works if I solve.

[2015-12-31 18:57] troybetz commented on #51
I would definitely follow @tjallingt's advice if possible and try out the latest version, but if that's not possible would either of you mind sharing a small repo reproducing the issue? Sorry for the trouble, and thanks!

[2015-12-31 20:02] tjallingt commented on #51
@abeyuya can you further describe your problems? Are you also using systemjs? Which version or react-youtube are you using? Etc.

[2016-01-02 12:03] goto-bus-stop opened #52 "startSeconds/endSeconds"
Before v5, a video could be played from a specific time using `playerVars`:

[code]

But since v5 uses `{cue,load}VideoById`, this no longer works. The *VideoById functions can take an object with the videoId and startSeconds/endSeconds properties, though: https://developers.google.com/youtube/iframe_api_reference#loadVideoById

Proposed fix:

[code]

I'll be happy to PR this if it sounds good :)

[2016-01-02 15:36] abeyuya commented on #51
I have solved this problem when create `a small repo reproducing `!  :smiley:

My problem was just `Please confirm that all component classes that are used in your project extend React.Component`.

My bad code used React.createClass.
When replace all of React.createClass to React.Component ES6 style, new code run correctly.

This is my transpile settings. https://github.com/abeyuya/react-youtube-i

[2016-01-02 16:03] tjallingt commented on #52
[code]
:warning: untested and un-lint-ed code.
I'd suggest something like this to restore the functionality instead of adding extra properties (unless there are reasons for that which I am missing...).

[2016-01-02 16:08] goto-bus-stop commented on #52
Right, that's fine with me too :)

(My reason for the new prop approach is that I quite like separate props for most things, including `volume` for example, but it's probably out of scope for this issue.)

[2016-01-02 16:17] tjallingt commented on #52
I agree props are a very clean way of handling component options but since we already support the player options through the `opts` prop I think it is more important to have that function as expected :smile:

[2016-01-02 16:40] tjallingt commented on #51
Great that you managed to find a fix!
Ill take a look at your reproduction (thanks for creating it :+1:) to find out what exactly causes this error.

[2016-01-02 16:43] goto-bus-stop commented on #52
alright :) would you like to test & PR your snippet?

[2016-01-02 16:44] tjallingt commented on #52
Ah I will in a second thanks :P

[2016-01-02 16:45] goto-bus-stop commented on #52
lovely, thank you!

[2016-01-07 18:18] troybetz commented on #52
Fixed by #53, thanks!

[2016-01-07 18:18] #52 closed

[2016-01-07 18:20] troybetz commented on #51
@abeyuya glad to hear it! Very weird though.

@BenPiggot if you're still having problems, feel free to reopen this

[2016-01-07 18:20] #51 closed

[2016-01-21 12:50] tomasite opened #55 "ReferenceError: document is not defined"
Hi, first thanks for your react component!
I just have one problem when I try import it in my react webapp. Note sure if it's caused by react-youtube itself or just a problem of configuration in my app (created with https://github.com/koistya/react-static-boilerplate) but here is the stacktrace:
[code]
(I already tried to escape the serve side rendering with a canUseDom check but it changes nothin

[2016-01-23 23:41] tjallingt commented on #55
Hey @tomasite,

Can you please give some more information on the issue such as:
- what actions cause this issue (seems to be `npm start` of the boilerplate)?
- which version of `react-youtube` are you using (please use the latest version)?
- can you give some more context on how you are using `react-youtube` in your application?

Sadly I can't tell much from the stack trace but the issue seems mor

[2016-01-23 23:41] #55 closed

[2016-01-23 23:50] tomasite commented on #55
Hey @tjallingt,
thanks for your answer! here are some clues:
1) it's right after ```npm start``` of the boilerplate indeed,
2) I'am using the last version at this moment (5.0.0),
3) here is a snippet of how I use react-youtube:
[code]
Thanks again,
Thomas

[2016-01-28 04:24] KeweiCodes opened #56 "(0 , _sister2.default) is not a function"
I'm using webpack and ES6 classes, and getting this error after recently updating react-youtube.

**Uncaught TypeError: (0 , _sister2.default) is not a function**

Any ideas why this might happen?

[2016-01-28 11:49] tjallingt commented on #56
Strange, at first glance I think it might be an issue with your webpack setup but i'm not quite sure...
It seems that webpack can't consolidate the `module.exports` from the [sister](https://github.com/gajus/sister/) library that is used by `youtube-player` a youtube api abstraction that `react-youtube` uses.

Perhaps if you supply some more information (such as webpack.config etc) I could get a b

[2016-01-28 12:53] tjallingt opened #57 "Support server-side rendering"
See:
https://github.com/koistya/react-static-boilerplate/issues/66#issuecomment-174240769

[2016-01-28 13:43] tjallingt commented on #57
@troybetz, can you publish c6e724dd0281da428f4f4acb6a6f39cde055e064? I need the changes to `youtube-player` to test the changes to `react-youtube` :worried:

[2016-01-29 17:50] alihammad-gist opened #60 "Warning: React.createElement: type should not be null, undefined, boolean, or number"
Hi I am tring to use this library in my typescript project and I keep getting these errors in the same order.
[code]
[code]

Here is my component class.
[code]

Here is my typescript definition file just in-case I have some mistake in the way I am using react-youtube's api.

[code]

[2016-01-29 19:34] goto-bus-stop commented on #60
`import * as x from 'y';` imports _all_ exports from a module into an object. It's mostly useful for modules that export different things, like how React exports both `Component` and `createElement`, and more.

`react-youtube` however only exports a single thing (a `default` export), which is used like:

[code]

Most likely that would solve your problem :)

[2016-01-31 15:56] alihammad-gist commented on #60
I tried using standard es6 and the component worked, I have got problem with webpack loaders. Sorry of wasting your time.

[2016-01-31 15:56] #60 closed

[2016-02-02 11:01] sylvainlap opened #61 "global is not defined"
Hi,

I wanted to try your lib thanks to `npm install react-youtube` and `npm run example`, but when I try to hit `localhost:8080`, I got this error in the browser console:

[code]

Any idea ?

[2016-02-04 09:09] tjallingt commented on #61
Can you supply more information?
What browser are you using? What operating system? What does the command line output?

[2016-02-04 10:25] sylvainlap commented on #61
It's ok, the error was from youtube-player, and has been resolved: https://github.com/gajus/youtube-player/issues/5

[2016-02-04 10:25] #61 closed

[2016-02-20 08:40] benigeri commented on #57
Would be great to get this published. :)

[2016-02-20 20:46] tjallingt commented on #57
I'm so sorry for the delay, it's published now and everything should work correctly :)

[2016-02-22 09:43] #57 closed

[2016-02-22 20:50] yizhexia opened #62 "OnReady -> .playVideo() doesn't work"
It was working in 4.X but after upgrading to 5.1, it seems to now be broken.

[2016-02-23 01:33] yizhexia commented on #62
Can somebody see if they can replicate this?

I'm suspecting my code may be the culprit rather than the component. That being said, I didn't touch anything in-between the upgrade so I'm not quite sure which is at fault.

[2016-02-25 18:22] tjallingt commented on #62
You can set the `autoplay` option to achieve the same result...
I tried it out but it doesn't seem to work for me either

[code]
Doesn't work while it should, once I have time I'll look into it. :+1:

[2016-03-08 09:01] HarshaVardhanPVK opened #66 "Pausing video externally"
How to pause youtube video externally like clicking on a button.

[2016-03-08 10:58] goto-bus-stop commented on #66
There's no prop to do this, but you can get to the internal YouTube player API using a React ref:

[code]

However a `paused` prop could be a cool feature:

[code]

[2016-03-08 11:03] HarshaVardhanPVK commented on #66
I stored the event of the video in a state (in onPlay()) and with help of that event I paused video (event.target.pauseVideo())

[2016-03-08 11:36] #66 closed

[2016-03-12 03:37] Secretmapper opened #67 "URL utility"
It would be great if the component has a utility to accept urls (parse video id from url). It's a pretty common use case.

[2016-03-17 13:39] tjallingt commented on #67
https://github.com/jmorrell/get-youtube-id/ does a great job providing this functionality, I might make a note in the readme to refer to it.

[2016-03-17 13:39] #67 closed

[2016-03-17 13:42] Secretmapper commented on #67
I agree with you. In hindsight, adding this is out of the project's scope.

[2016-03-17 18:36] PhilipBrady13 opened #68 "Iframe loading inconsistently"
Been experiencing inconsistent loading of the iframe in Chrome, Safari, and FF. There are no errors when it doesn't load, and no indicators in the network panel. Other times it loads perfectly fine. Anyone experiencing this?

[2016-03-17 20:56] tjallingt commented on #68
Which version of `react-youtube` do you use? (did you try if your problem still occurs with the latest version?)
Can you share your code for rendering the `react-youtube` component?
With these details we could perhaps help you further...

[2016-03-17 22:08] PhilipBrady13 commented on #68
5.1.0, i think it was just an issue loading the youtube api asynchronously i assume on my end. ended up writing my own component that works, so will close this now.

[2016-03-19 20:33] tjallingt commented on #62
https://github.com/troybetz/react-youtube/pull/63 fixes this behaviour :smile:
I'll publish this on npm soon.

[2016-03-19 20:33] #62 closed

[2016-03-22 17:00] jesnil01 opened #69 "Support for onPlaybackQualityChange"
Any plans of adding support for the event returned when playbackquality is changed?

[2016-03-24 20:20] tjallingt commented on #69
Youtube Iframe API supports the following events of which the selected events are supported by `react-youtube`;
- [x] onReady
- [x] onStateChange
- [ ] onPlaybackQualityChange
- [ ] onPlaybackRateChange
- [x] onError
- [ ] onApiChange
I'm not sure why some of the events are missing and that there is a strong case for supporting them (at least at first glance).
Would you like to create a pull-reque

[2016-04-01 18:00] antongorodezkiy commented on #56
I have the same issue. Not sure why, but type of `_sister` variable
[code]
is an object instead of function.

I believe this is not the issue of your package but the issue of `sister` package. I removed 6-7, 68-69 and 73-74 lines https://github.com/gajus/sister/blob/master/dist/sister.js and after that the error disappears.

[2016-04-06 20:03] tjallingt commented on #69
Fixed by https://github.com/troybetz/react-youtube/pull/70 :smile:

[2016-04-06 20:03] #69 closed

[2016-04-12 22:57] passrafi commented on #68
I'm having the similar issue @PhilipBrady13 that produces the same symptoms.
Just to clarify the iframe that fails is an external iframe not related to youtube?
The iframe fails to load with no errors or indicators in the network panel.

[2016-04-14 14:15] sandervanhooft opened #72 "Full screen is unavailable"
Hi @troybetz ,

I've tried the react-youtube component and it seems to work well. However there's one issue: the fullscreen button in the bottom right corner is disabled. When clicked it shows a small popup message stating:

It seems to be unrelated to the browser (tested both Safari and Chrome). When visiting Youtube.com and opening a video the fullscreen button works as expected. I've also tried

[2016-04-19 15:13] tjallingt commented on #72
Please try cloning `react-youtube` onto your machine and then running `npm run example`.
If you open `localhost:8080` in your browser you are presented with a simple example of `react-youtube`, does the problem also occur on this page?

Perhaps try to create a simple page that loads a video using the Youtube Iframe API (if needed I could quickly create it for you) and check whether the same proble

[2016-04-19 18:47] sandervanhooft commented on #72
@tjallingt Thank you. `npm run example` does not yield this problem.

When running react-youtube in [react-storybook](https://github.com/kadirahq/react-storybook) the problem persists. It seems to be using [react-split-pane](https://github.com/tomkp/react-split-pane) under the hood. This uses an iframe, so perhaps this is the cause?

[2016-04-21 21:29] Fr33maan opened #73 "Package has a double on npm"
According to [npm doc](https://www.npmjs.com/package/lapanoid-react-youtube) I should pass an url but it does not work as I must pass a `videoId`.

Sounds stupid but I lost 20 minutes

[2016-04-21 22:54] goto-bus-stop commented on #73
That link goes the npm page for a package called `lapanoid-react-youtube`…which seems to be an exact copy of an older version of this module. (?)

This module is published to npm at https://npmjs.com/package/react-youtube, and the docs are up to date there :)

[2016-04-22 00:03] prisonier commented on #73
The strangest thing is that the github repo link comes here ...

[2016-04-25 08:12] goto-bus-stop opened #74 ""The node to be removed is not a child of this node." when unmounting component in React v15"
When the YouTube component is unmounted in React v15, this happens:

[code]

The stack trace isn't particularly useful because it's just ~100 layers of internal React calls.

However a breakpoint is more helpful:

![scope screenshot](http://i.imgur.com/aOoh6XJ.png)

Here `childNode` is a __div__ element with id `player_1`, but the actual element in the DOM is an iframe. I suspect this is because t

[2016-04-26 13:45] goto-bus-stop commented on #74
This is the same kind of problem as described here, for context: facebook/react#6593

[2016-04-28 14:04] tjallingt commented on #73
Not sure what happened there...
It seems like a bit of bad manners to upload someone else's module to NPM :confused:
perhaps this is the same person: @lapanoid ?
If so would you be willing to remove your package from NPM (or at least removing this repository from the `repository` field in package.json so people do not confuse the packages)

[2016-04-28 14:15] tjallingt commented on #74
The `destroyPlayer()` call undoes all changes made by the Youtube Iframe API. So I'm not sure why React would complain about not being able to find the div...

[2016-04-28 14:52] goto-bus-stop commented on #74
Oh, huh. I think it's because [youtube-player](https://github.com/gajus/youtube-player) puts all method calls in a promise `.then` handler, which means the _actual_ destroyPlayer() call is done on the next tick, after `componentWillUnmount` has finished. https://github.com/gajus/youtube-player/blob/master/src/YouTubePlayer.js#L43-L58

[2016-04-28 14:53] goto-bus-stop commented on #74
(There might still be a better way around it than my proposed fix, though.)

[2016-04-28 15:21] tjallingt commented on #74
That is probably what is happening yea...
Ideally `youtube-player` would allow us to call `destroy` synchronously (like `this._internalplayer.synchronous.destroy()` or something).
Maybe it is worth submitting a pull request for this type of functionality?

Although your solution works and is pretty clean I'd like to just use the method of the Youtube Iframe API that was created for this exact reas

[2016-04-28 15:26] goto-bus-stop commented on #74
Yeah, definitely, that would be best. I'll send a PR to youtube-player and see how it goes.

[2016-04-28 15:59] goto-bus-stop commented on #74
…OTOH, that synchronous access would pretty much only be useful for this use case. I can't think of any situation where it'd be used except "I need to destroy the player and I need to destroy it in _this tick_".

I don't think any solution is ideal here :sweat_smile:

[2016-04-28 16:48] l1br3 commented on #73
I don't think unpublish it is the right solution as people whom relies on it will experience some troubles.

Plus I think it is not possible to unpublish a package older than 24 hours, there have been a big issue about this a time ago.

[See here for npm unpublish policy](http://blog.npmjs.org/post/141905368000/changes-to-npms-unpublish-policy)

[2016-04-28 16:55] tjallingt commented on #73
There are no dependents (npm packages that depend on his package) so he is free to remove it by contacting NPM support.

As far as I can tell it is a direct copy of our package, if it isn't and there is a reason for it to stay on NPM (say people are using it as a modified version of our package) then he should (at the very least) not link it to this repository.

As it is right now I would dare say

[2016-05-06 01:47] kahjav commented on #68
I am having the same experience. If I refresh the page 2 times consecutively, it appears.

Version 6.1.0

[2016-05-09 11:40] tjallingt commented on #68
Excuse me for the slow response.
Can you confirm that this issue is also happening when you run the example included with

[2016-05-12 17:32] kahjav commented on #68
When it does not load, there is a `div` instead of an `iframe`

[2016-05-12 17:46] PhilipBrady13 commented on #68
i was getting a div instead of an iframe when the youtube api was not loading in time for render.

[2016-05-12 18:01] tjallingt commented on #68
Example worked swimmingly!

That would suggest that there is something specific about your application that makes it stop working when you refresh the browser, correct?
The usage of the component doesn't look out of the ordinary so then I'd have to assume there is a bug in the building process that is causing this error.

When it does not load, there is a `div` instead of an `iframe`

i was gettin

[2016-05-12 18:24] PhilipBrady13 commented on #68
i am using most of them actually, although earlier versions. heres my devDependencies:

"devDependencies": {
    "autoprefixer": "^6.3.1",
    "autoprefixer-loader": "^3.2.0",
    "babel-core": "6.3.26",
    "babel-eslint": "^4.1.3",
    "babel-loader": "^6.2.0",
    "babel-plugin-react-transform": "^2.0.0-beta1",
    "babel-plugin-syntax-class-properties": "^6.3.13",
    "babel-plugin-syntax-deco

[2016-05-12 18:31] kahjav commented on #68
.... I have been trying to recreate but youtube is loading every time perfectly now! I'll post again answering those questions if it happens again.

[2016-05-12 18:47] tjallingt commented on #68
i tried logging YT in the console as the first line of my render function and noticed it wasn't loaded in time. i made an action that fires on app mounting which has:

I don't fully understand what you mean, it did load but somehow it was too late? Since `react-youtube` uses `youtube-player` to load the Youtube Iframe API not loading in time shouldn't be a problem...

.... I have been trying to re

[2016-05-12 19:26] PhilipBrady13 commented on #68
interesting, it did not seem like the YT api was being loaded through youtube-player, although maybe I was doing something wrong? it was not until i loaded the api myself that i started getting inconsistent behavior. could have something to do with hotloading, i do not have a ton of knowledge on the topic either though. i have since gone a different route and made my own simple YT component so can

[2016-05-12 19:37] tjallingt commented on #68
@PhilipBrady13 just for clarity, when the youtube iframe api failed to load in your application; did it not load at all or did it not load "in time" or "too slow"?

[2016-05-12 19:41] PhilipBrady13 commented on #68
don't remember to be honest, i just know that i was always getting div's instead of iframes when i was not including it myself, i got inconsistent div/iframe when i started loading it myself, and i got 100% success when i started rendering after the window.onYouTubeIframeAPIReady function fired.

this leads me to believe it was either not loading in time and the component did not render an iframe

[2016-05-12 19:47] tjallingt commented on #68
@PhilipBrady13 Thanks for the explanation :smile:, you indeed need to wait for the onYouTubeIframeAPIReady when using the youtube iframe api normally but the `youtube-player` should take care of that... Anyway it's good to hear you managed to solve your problem.

[2016-05-13 19:24] kahjav commented on #68
@tjallingt Mine was a conflicting `src="https://www.youtube.com/iframe_api"`... good call. Thanks for troubleshooting!

[2016-05-14 14:13] tjallingt commented on #68
@kahjav can you give me some more information? What was the exact problem and (how) did you manage to fix it?
Perhaps this is something that we should create an issue for on some other package or mention in our readme...

[2016-06-08 22:25] #74 closed

[2016-06-08 22:32] tjallingt commented on #68
I think we managed to "solve" most of the problems described here, therefore I will now close this issue.
If there are any further related problems I'll reopen it...

[2016-06-08 22:32] #68 closed

[2016-06-08 22:40] tjallingt opened #77 "Update Github pages branch"
The Github pages is still displaying an old version of `react-youtube`, it should be updated and made so we can maintain it easier.
Another option could be to just remove it and rely on our documentation and example folder.

[2016-06-08 22:56] tjallingt opened #78 "Autobind methods to class"
Do:
[code]
Instead of:
[code]
Other option is to call `bind(this)` on all methods in the constructor but that's quite ugly...
This change is to improve legibility and it might improve performance slightly as it doesn't need to recreate functions (see https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/jsx-no-bind.md).

[2016-06-10 13:46] tjallingt commented on #78
I committed this change to all "non-react" methods of the class.

[2016-06-10 13:46] #78 closed

[2016-07-06 21:12] tyrondis opened #79 "Call YouTube Iframe API `destroy()` method synchronously"
Currently, the way of styling the embedded iframe is by creating a CSS class and setting the className property of your component.

Do you think there is a way to use the React way of having a style property that you somehow attach to the embed?

[2016-07-07 00:14] tjallingt commented on #79
Hey @tyrondis,

Although your suggestion is a good one there are some problems that prevent us from actually allowing users to pass a `style` property.

`react-youtube` initially renders as:
[code]
Then we call the YouTube Iframe API which replaces the `<div>` with an `<iframe>`.
After that React is unable to find the `<div>` and modify it. This means that the properties `id` and `className` won't

[2016-07-18 13:11] fmedinac opened #80 "React Facebook Player"
Hey there,
Thank you for this, really helped me with my project.

I'm here to let you know that I created a project for embedding Facebook video player that's completely based on your, I reused good part of your structure, hope you don't mind. ;)

https://github.com/fmedinac/react-facebook-player

Txs,
Medina

[2016-07-25 23:51] tjallingt commented on #80
Hey @fmedinac,

Sorry for the slow response :sweat:
It's great to hear that this project helped/inspired you to create your own project!
Reusing part of our code is no problem, it is open source after all (and you even included a nice reference back to this project).
I might put your project in a `derived/related works` section in our readme (i'll have to check what others call such a section haha

[2016-07-25 23:51] #80 closed

[2016-07-28 08:56] ChocoMomo opened #81 "getVideoData() in onReady"
Using event.target.getVideoData() in the onReady Handler the "video title" and "video author" are somehow empty.

[2016-07-29 23:11] tjallingt commented on #81
Hello @ChocoMomo

When i modify our example application to include a call to `getVideoData()` it returns:
[code]
I verified that `author` is indeed empty which is strange however when I looked into the [official YouTube Iframe API documentation](https://developers.google.com/youtube/iframe_api_reference) it appears that `getVideoData()` is an undocumented feature. This means that there are no guar

[2016-08-01 14:41] ChocoMomo commented on #81
Thanks for the help.

In the documentation they said that the onReady event does not specify a data property. So this is why it doesn't work.

Now i use another approach to get the video data. By using the onStateChange handler afterwards i can get the right video data. I used this for event tracking in my application

This issue can be closed

[2016-08-01 14:41] #81 closed

[2016-08-04 01:21] tjallingt opened #83 "Autoplay not working on initial render"
According to @wittjosiah the autoplay variable is ignored on the initial render. He create pull request https://github.com/troybetz/react-youtube/pull/82

Sadly this pull request undoes this change: https://github.com/troybetz/react-youtube/pull/63/commits/445ebb5cfbd72e05462108ab6c836d79ce517fac by @goto-bus-stop.
Since this change was made for clear reasons we should look into other solutions fo

[2016-08-15 22:52] machineghost opened #84 "Constants Would Be Handy"
The YouTube API has values (eg. the player states, https://developers.google.com/youtube/iframe_api_reference#Playback_status) which would be easier to refer to by name than by number.  It would be great if this library provided constants for this purpose, such as the following:

    import YouTube from 'react-youtube';
    console.log(YouTube.PLAYER_STATES.UNSTARTED); // -1
    console.log(YouTub

[2016-08-16 00:52] tjallingt commented on #84
Hey @machineghost

The YouTube Iframe API embeds itself in the global window object as `YT`, therefore you could use `YT.PlayerState.PLAYING` from anywhere in your code :+1:.
Adding PlayerState` to `react-youtube` could be as easy as:
[code]
But I'm not sure this is actually a good idea :confused:
Another (perhaps more reliable) option would be to hard code the PlayerState variables.
Or we could j

[2016-08-16 16:56] machineghost commented on #84
Thanks for the response.  I didn't realize I could use `YT.PlayerState.PLAYING`; that works great for me.  As for mirroring the constants in react-youtube, while it would be a nice convenience, something about using a function instead of a plain value to access a constant feels wrong to me somehow /shrug.

[2016-08-16 17:11] machineghost commented on #84
I spoke too soon.  So using `YT.PlayerState.PLAYING` works great IF you only use it after the YouTube `<iframe>` is on the page.  But if you want to do something like this:

    import ReactYouTube from 'react-youtube';
    const STOPPED_STATES = [YT.PlayerState.ENDED, YT.PlayerState.PAUSED];
    classs SomeComponentThatHasAVideo {
        stateChangeHandler({target}) {
            const state = t

[2016-08-16 18:19] tjallingt commented on #84
@machineghost

Haha, let me teach you about the magic of the `get` syntax:

[code]
More info here: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Functions/get

The reason I wrote it like that is because of the same issue you are running into; `YT` is not defined before the YouTube API is initialised. This means that `static PlayerState = YT.PlayerState` would most likely fail (

[2016-08-16 18:28] machineghost commented on #84
Oh, whoops: totally missed the `get` in your code, but yes a static getter sounds perfect!  And due to the timing problem I also agree with the idea of just hard-coding Google's constants (they are called "constants" for a reason).

Things are crazy at work right now, but I'll try to find some time to submit a PR if I can.  Thanks!

[2016-08-16 19:15] tjallingt commented on #84
Great! If you don't manage before Friday I'll just quickly add it myself :smile:.

[2016-08-24 22:51] machineghost opened #85 "Support for HTTPS"
When I try and develop using react-youtube locally (ie. at `http://localhost:8080`) I get the following error,  intermittently:

    Failed to execute 'postMessage' on 'DOMWindow': The target origin provided ('https://www.youtube.com') does not match the recipient window's origin

It's referring to the `this.a.contentWindow.postMessage` line (sorry, I'm looking at the minnified version so I can't

[2016-08-27 13:40] tjallingt commented on #85
AFAIK: This is an error that is triggered by the YouTube Iframe API or the [`youtube-player`](https://github.com/gajus/youtube-player) package we are using to instantiate the YouTube Iframe API. This error message appears seemingly randomly and even though this error message is displayed `react-youtube` should continue to function normally.

I'm not sure where the error is triggered (especially as

[2016-08-27 14:13] goto-bus-stop commented on #85
I also get this error on http sites with the bare YouTube iframe api. I don't think react-youtube can do anything about it. It doesn't affect the functioning of the iframe at all.

[2016-08-29 18:44] machineghost commented on #85
Gotcha; filed https://github.com/gajus/youtube-player/issues/15 upstream :)

[2016-08-30 14:43] pixelatorz opened #86 "internet explorer 10, 11 error: YouTube.render(): A valid ReactComponent must be returned. You may have returned undefined, an array or some other invalid object."
The compontent works well in chrome, firefox and edge, however when I use it in internet explorer 10 and 11 it throws this error:

`YouTube.render(): A valid ReactComponent must be returned. You may have returned undefined, an array or some other invalid object.
`

[2016-09-06 08:32] sxn commented on #84
So I guess this issue should be closed since it's been implemented https://github.com/troybetz/react-youtube/commit/fbf65c4c797999a51c675206d3ba5c42e9f4247d ? :D

[2016-09-07 15:31] tjallingt commented on #86
Hey @pixelatorz, when running the example using internet explorer 11 on windows 10 everything appears to be working just fine.
Can you confirm that you are running the latest version of this package (`^7.0.0`)and that this issue also happens when you run the example: clone this repository; `npm install`; `npm run example` and open `localhost:8080` in the respective browsers.

[2016-09-07 15:32] #83 closed

[2016-09-07 15:32] #72 closed

[2016-09-07 15:33] #56 closed

[2016-09-07 15:34] tjallingt commented on #85
I'll close this issue for now; if it appears that changes to this package are needed to fix the issue it is possible to reopen it later :smile:

[2016-09-07 15:34] #85 closed

[2016-09-10 13:12] Rash96 opened #88 "How to stop player from js?"
My problem.  I have several player-components on my page and when one player starts other players have to stop.

[2016-09-10 13:14] Rash96 commented on #88
My problem.  I have several player-components on my page and when one player starts other players have to stop.

[2016-09-10 13:39] tjallingt commented on #88
Hey @Rash96
In the example you can see how to pause a video: https://github.com/troybetz/react-youtube/blob/master/example/example.js#L34-L36
In your case you probably want to do something like:
[code]
:warning: I did not test this so there is no guarantee this works as is. This example also might not be the best way of doing this but it should help you figure out the rest yourself...

[2016-09-10 14:28] Rash96 commented on #88
@tjallingt Thanks a lot! I understand your idea)

[2016-09-10 14:29] #88 closed

[2016-09-25 11:36] tjallingt commented on #86
Hey @pixelatorz, those babel presets shouldn't be a problem...
I'm quite interested in those warnings though; Can you show the lines of code that trigger the warnings?
If I'm understanding the explanation of that warning correctly you might be using ["third-party PropTypes that wrap React’s PropTypes"](https://facebook.github.io/react/warnings/dont-call-proptypes.html#if-you-dont-call-proptypes-di

[2016-09-27 07:55] pixelatorz commented on #86
we are calling it this way, we ain't using third-party propstypes:

[code]

when I check the warnings they show up in the order of this code in Youtube.js
[code]
 I dont see a call stack when opening the warning. it shows the react native warning code.

![screen shot 2016-09-27 at 09 45 34](https://cloud.githubusercontent.com/assets/1567481/18864552/2b0de358-8497-11e6-9ca4-ad2dd56d5956.png)
![scre

[2016-11-06 15:22] SpaceK33z opened #90 "Force playback quality"
Currently it seems not possible to force the playback quality to a given value.

The IFrame Player API exposes the [`setPlaybackQuality`](https://developers.google.com/youtube/iframe_api_reference#Playback_quality) method for this. Would it be possible to set the quality as an option, and let this library internally call `setPlaybackQuality`?

The use-case for this is that we're running a TV dashb

[2016-11-06 20:07] tjallingt commented on #90
[code]

This is how I'd suggest to implement this functionality.
I don't think it's a good idea to implement this functionality as a prop because it has some behaviour that does not fit the expectations of a prop:

I'd like to hear some other people comment on this issue as perhaps a `desiredPlaybackQuality` could be useful...

[2016-11-07 10:19] SpaceK33z commented on #90
Thanks for your answer. I implemented this yesterday already in my fork because I really needed it: https://github.com/SpaceK33z/react-youtube/commit/6bb22c4fec16331d55b62caec72f68874ee01fce.  In my manual tests it always changed the quality.

I could change the prop to `desiredPlaybackQuality` though, that would make more sense indeed.

[2016-11-12 02:11] PaschalisSk commented on #90
Somehow some years ago I found that you can have vq inside playerVars to change the quality
`playerVars: {
    vq: 'large'
  }`

For some reason 'large' is 720p and 'hd720' is actually setting it to 1080p.

[2016-11-15 21:54] d4nyll opened #91 "Uncaught ReferenceError: ytcfg is not defined"
I'm doing a very simple embed example, and it comes back with the following error. This happened just in the past few hours. During my search, I have also noticed a similar [issue](https://github.com/ArunMichaelDsouza/ng-youtube-embed/issues/7) on a Angular YouTube embed package, the issue may be related.

[code]

(Sorry no time to create a repo to document the bug properly)

[2016-11-16 17:44] AmenRa666 opened #92 "Need help with es5"
Hi, I have some problems using the component in es5.
I am using latest version and this is my code:

[code]

If I replace this with a random div everything is smooth:

[code]
But with the code above I get this error:
[code]

Can you help me?

Thank you.

[2016-11-16 17:52] goto-bus-stop commented on #92
[code]

… should work :)

[2016-11-16 17:54] AmenRa666 commented on #92
@goto-bus-stop Thank you!

[2016-11-16 17:54] #92 closed

[2016-11-16 18:38] rwilson commented on #91
I just started seeing this in the last day as well, but it's inconsistent and, oddly, I'm not even rendering the YouTube component every time it happens. So it seems sufficient only that the module be imported , but also not 100% of page loads.

[2016-11-18 15:32] tjallingt commented on #91
Hey, this seems to be an issue on YouTube's end (from what i read by googling the error message) so I don't think there is anything we can do about it. Please comment here if there is any new information on this issue however 😄

[2016-11-18 22:54] brendonlamb opened #94 "Allow a pass-through "style" prop"
I'd like to apply styles to the iFrame element (and I suppose the wrapping span could be helpful too)- is that something you could add?

[2016-11-21 13:50] tjallingt commented on #94
Hey @brendonlamb, applying styles to the `<iframe>` is possible and we should probably add it, however since we technically render a `<div>` that gets replaced by the YouTube IFrame API we rely on somewhat quirky behaviour from react (to update properties on elements it did not render directly).

Feel free to make a pull request that implements this behaviour or let me know if that is not possible

[2016-11-21 14:20] brendonlamb commented on #94
Thanks- sorry i didn't do a PR, I'm a bum. :D

I ended up doing this:

    event.target.a.style.position = 'absolute';
    event.target.a.style.top = '-50%';
    event.target.a.style.left = '-50%';
    event.target.a.style.height = '200%';
    event.target.a.style.width = '200%';
    event.target.a.style.pointerEvents = 'none';

(Don't ask about the crazy styling lol) - I guess it's a work-around

[2016-11-21 14:47] goto-bus-stop commented on #94
Also for future reference: most styles can be implemented using a wrapper div, and setting the iframe size to fill the entire wrapper:

[code]

[2016-11-21 15:16] #94 closed

[2017-01-04 15:08] rauchg opened #95 "Great job"
Worked out of the box, clean API, a joy. Just putting that out there.

[2017-01-04 15:08] #95 closed

[2017-01-16 14:38] 123ndy opened #96 "Failed to execute 'postMessage' on 'DOMWindow"
I get this message in console: `Failed to execute 'postMessage' on 'DOMWindow': The target origin provided ('https://www.youtube.com') does not match the recipient window's origin ('https://mydomain.com').`

I have read that a combo of `http` and `https` could be the reason, but in this case both the iframe and the hosted domain is using https.

Any idea of what it can be?

[2017-02-02 02:50] JulianJorgensen commented on #96
Ditto here

[2017-02-04 12:54] tjallingt commented on #96
I'm actually not sure, as you might have noticed this error message does not appear very consistently (at least it doesn't for me) and it does not affect the YouTube player functionality. We depend on a chain of NPM modules to load the YouTube player for us so it is also not possible for us to fix this issue inside this module.

[2017-02-04 13:19] goto-bus-stop commented on #96
Yeah, it also sometimes happens when only using the official YouTube JS API. Try refreshing https://gateway.ipfs.io/ipfs/Qmb3ggu57cXHTh3JxCCF4cY3Sds21d4UdZZe6T3W5GfkHL/ a few times with an open console and you should see it pop up sometimes.

[2017-02-21 17:12] rmammina opened #97 "Re-render with playlist fails"
When I initially render the youtube component with a configuration playlist parameter, the player loads the playlist correctly. EG
[code]
However, if I update the results, player stops playing, and just reloads the playlist that I originally had provided it. Not sure if I need to wait for the player to finish destruction or what not.

[2017-02-22 05:08] #97 closed

[2017-02-23 16:20] coded-aesthetics opened #98 "_onReady event not firing anymore in Chrome"
I am aware that this is most likely not a problem by the react-youtube player component itself.
The error occurs in this file that is used by the react-youtube player:
`https://www.youtube.com/yts/jsbin/player-de_DE-vflM_cNgA/base.js`

I just wanted to check if anybody else is experiencing this problem...

This is the error I get upon initialization of the react-youtube component:
[code]

Will che

[2017-02-24 08:56] coded-aesthetics commented on #98
Okay, this went away... must have been a temporary error in one of the youtube-api scripts...

[2017-02-24 08:56] #98 closed

[2017-02-25 18:15] tjallingt commented on #98
Yea the error stack seems to indicate that this problem was caused on YouTube's end.
You already closed the issue but if it persists in the future feel free to reopen it.

[2017-02-28 05:46] jonathanmv opened #99 "Just wanted to say thank you"
I couldn't find a proper channel to say **thank you** so I'm creating an issue. You can close it right away.

I start playing a youtube video after 500ms of mouseover on a thumbnail. It works wonders. I used https://github.com/littlebits/react-popover for the popover

![asd](https://cloud.githubusercontent.com/assets/86024/23393167/ed111738-fd4e-11e6-88e4-f262d1e03d2e.gif)

[2017-02-28 12:15] #91 closed

[2017-02-28 12:15] #96 closed

[2017-02-28 12:24] tjallingt commented on #99
As one of the maintainers of this project I'd like to say that we very much appreciate your thank you message. Lovely to hear that you were able to seamlessly incorporate react-youtube in your project 👍

We might add a "projects that use react-youtube" section to the readme sometime in the future. When we do this I might get back to you to ask for more information about your project (name, url, et

[2017-03-21 04:17] lawrencetvo opened #101 "None of the callbacks are firing"
Hello all,

I'm not entirely sure I'm using the package correctly but doing

`
      <Youtube
        videoId={ videoID }
        onPause={ () => console.log("FIRED") }
      />
`

doesn't produce a log in the console when I pause the video.

Repo can be found [here](https://github.com/lawrencetvo/watch-yt-together).

[2017-03-22 01:56] #101 closed

[2017-03-22 18:46] tjallingt commented on #101
I'm sorry that it took me a while to reply, I opened the notification and then forgot about it 😕.
Since you closed the issue; did you manage to fix the problem?

[2017-03-23 01:54] lawrencetvo commented on #101
@tjallingt Yeah, I figured it out, it was something with my bundle.js going to the wrong place.

[2017-03-31 04:54] payner35 commented on #96
I was expecting this to sort it..  ?  still have some sporadic errors.

[code]

[2017-03-31 19:07] texaspacm opened #104 "Feature Request (if possible) - Track what % of the video was played."
If there is a way to get the length of the video, and compare to what the user watched.  You have to figure how where they stopped playing.  There are different ways a video can stop.

1) Pause and not play again.
2) Navigate to another page.
??

Great job.  If I end up using it, i'll let you know.

[2017-03-31 19:53] mmmaaatttttt opened #105 "All videos breaking with create-react-app"
Hi there!

I've got some colleagues using `react-youtube` along with `create-react-app`, and until this week everything was working great. This week, however, everything seems to have broken. No videos will load, and the player screen looks like this:

<img width="1141" alt="screenshot" src="https://cloud.githubusercontent.com/assets/3916770/24566999/a44a3d10-1610-11e7-8322-15e77ae4c8f0.png">

At

[2017-03-31 20:00] #105 closed

[2017-04-05 00:21] kingjerod opened #106 "When compiled with webpack console error "Uncaught ReferenceError: require is not defined""
I'm guessing it's because dist uses the actual require function and not the __webpack_require__ and _interopRequireDefault functions.

[2017-04-05 00:52] #106 closed

[2017-04-05 19:25] lawrencetvo opened #107 "package.json"
Is the main in package.json suppose to be `dist/YouTube.js`? Is it not `src/Youtube.js`?

[2017-04-05 19:26] lawrencetvo commented on #107
Nevermind, realized this via. scripts. Thanks!

[2017-04-05 19:26] #107 closed

[2017-04-05 19:34] lawrencetvo commented on #104
Can work on this functionality if mods approve.

[2017-04-08 20:19] baron816 opened #109 "Using 'end' in playerVars causes onEnd to be called twice"

[2017-04-09 06:25] mouhsinelonly commented on #96
did any one find a solution for this ?

[2017-04-09 07:37] goto-bus-stop commented on #96
Hmm i did find this just now: https://github.com/brandly/angular-youtube-embed/pull/116is

 it fixed if you add

[code]

somewhere in your app, *before* using react-youtube?

[2017-04-09 15:47] RobertFischer commented on #99
+1

[2017-04-10 10:20] ceres629 opened #110 "video pauses when changing tab"
If I start playing a video and change tab (in chrome) it pauses the video.

[2017-04-12 12:57] tjallingt commented on #105
I somehow did not receive a notification for this issue... I'm sorry for not responding in time.
Since you closed the issue I assume you managed to fix the problem?

[2017-04-12 12:59] tjallingt commented on #107
Sorry for not responding in time. Good to hear that you managed to solve the problem.

[2017-04-12 13:00] tjallingt commented on #106
Hello, sorry i didn;t manage to respond in time, as you closed the issue i assume you managed to find a solution?

[2017-04-12 13:02] tjallingt commented on #109
Will have to setup a test case to see this in action.

[2017-04-12 13:07] tjallingt commented on #104
https://github.com/tjallingt/react-tjube/blob/master/src/components/ProgressBar/ProgressBar.jsx#L27-L36

Here is an example of how I calculate the progress on a video.
I'm not sure whether we should implement specific functionality within `react-youtube` for this as the YouTube IFrame API already allows you to calculate this yourself.

However I'm open to suggestions and if this is something peopl

[2017-04-17 04:39] Kamil1 opened #111 "Error: Element type is invalid when attempting to use YouTube component"
I'm relatively new to React, so this might be an error on my behalf, but I'm at my wits end trying to figure out what is wrong here.

I installed using `npm install --save react-youtube`

My super super simple file is below:

[code]

Alas -- I receive this error:

`bundle.js:66730 Error: Element type is invalid: expected a string (for built-in components) or a class/function (for composite compone

[2017-04-18 06:08] tjallingt commented on #111
Try logging `YouTube` to the console to see what this object is...
(in the constructor add `console.log(YouTube)`)

[2017-04-18 06:43] Kamil1 commented on #111
Hi @tjallingt -- thanks for the response.

I *am* able to log the object, which prints off the following in Chrome's console:

[code]

Furthermore, in VS Code, my text editor/IDE, I am able to see that the component is being properly linked, as I can "jump" into it. The typically "check" of removing the `import` statement causes the component to be "undeclared", and changing the import syntax to u

[2017-04-19 22:22] adrian410 opened #112 "Change the current time"
Hello,

Do you know if there is a way to SET/CHANGE the current time of the video ?
How do you get the youtube player variable ?

I'm new to react and i'm not sure, i didn't find anything about it in your doc.

Thanks for your help !

[2017-04-20 17:19] tjallingt commented on #112
Hello,

You need to obtain a reference to the YouTube Iframe API like shown here: https://github.com/troybetz/react-youtube/blob/master/example/example.js#L23-L28

Then you can use `player.seekTo(seconds:Number, allowSeekAhead:Boolean):Void` method of the YouTube IFrame API to set the current time of the video: https://developers.google.com/youtube/iframe_api_reference#Playback_controls

[2017-04-21 01:07] adrian410 commented on #112
Thanks a lot ! That was very helpfull and well explained !

[2017-04-25 10:47] ceres629 commented on #110
is this meant to be a feature or is it indeed a bug?

[2017-04-25 11:24] goto-bus-stop commented on #110
It's definitely not an intended feature! However I also can't reproduce it in any of the projects I've used react-youtube in.

Which Chrome version are you using?
Does it also happen with the example at http://troybetz.github.io/react-youtube/ for you? If not, could you share a small example project where this does occur?

[2017-04-25 11:27] goto-bus-stop commented on #111
@Kamil1 It looks like you've accidentally pasted your webpack config twice instead of the result of `console.log(YouTube)`.

Your webpack config looks good, I don't think it's causing the problem. Can you share your babel config as well?

[2017-04-25 22:08] Kamil1 commented on #111
@goto-bus-stop Whoops, yes you are correct. Let me try logging the object again and update my original post. Regardless, I do believe I'm importing the code correctly as well.

My `.babelrc` file is below:
[code]

[2017-04-26 13:04] ceres629 commented on #110
I'll give it another shot and see if i can get it working as I decided againts using react-youtube because i couldn't solve the issue initially. It doesn't seem to happen on the demo, so that suggests the problem was on my end.

I was using it in rails however using the react-on-rails gem which may have something to do with it. . I will give it another try and see what I can uncover.

[2017-04-26 15:14] goto-bus-stop commented on #111
Thanks! I'm not familiar with react-transform myself, but it looks like the `react-hmre` preset already configures that plugin here: https://github.com/danmartinez101/babel-preset-react-hmre/blob/master/index.js So it's added twice. I don't know if that could be related but it might be worth a shot to remove the `react-transform` part:

[code]

[2017-04-26 16:48] Kamil1 commented on #111
@goto-bus-stop Thanks for the suggestion!

I replaced my `.babelrc` file the one you've attached above, and unfortunately I'm encountering the same error 😞

A screenshot of the logging + error message is below.

<img width="1631" alt="screen shot 2017-04-26 at 9 43 09 am" src="https://cloud.githubusercontent.com/assets/7742640/25446033/fd0dabc2-2a64-11e7-913e-1b3985505d27.png">

I am able to succe

[2017-05-02 08:15] ceres629 commented on #110
It doesn't seem to be doing this anymore, not what the issue was before or what solved it but I guess I'll close this.

[2017-05-02 08:15] #110 closed

[2017-05-02 08:33] goto-bus-stop commented on #110
OK, np! Thanks for getting back to us. Glad it works now :)

[2017-06-19 17:21] ahmetozalp commented on #98
base.js:30 Uncaught TypeError: Cannot read property 'prototype' of undefined
    at Object.g.p (base.js:30)
    at remote.js:79
    at remote.js:162
g.p @ base.js:30
(anonymous) @ remote.js:79
(anonymous) @ remote.js:162
annotations_module.js:419 Uncaught TypeError: Cannot read property 'prototype' of undefined
    at annotations_module.js:419
    at annotations_module.js:697

[2017-06-19 17:26] ahmetozalp opened #114 "console errors"
http://oi66.tinypic.com/29gdggi.jpg

[2017-06-19 18:12] tjallingt commented on #114
I'm sorry you are experiencing an issue while using react-youtube but I'd like to point out that from just these errors no-one will be able to help you. If you want our help with your problem then please give us more information about what you are trying to do and what is not working if possible using code that demonstrates where the problem lies.

Additionally: spamming a seemingly unrelated issu

[2017-06-30 10:34] Oskarino29 opened #115 "Youtube thumbnail size"
Hello - is it possible to target the thumbnail of the YouTube video so that I can edit the background-size (+ browser-specific variants)? I would like to set it to `contain` so that it is consistent with the video within a container with responsive width. Thanks, loving the plugin!

[2017-07-01 18:35] artndes9 opened #116 "an example to access event.data?"
sorry for newbie question and i am new to React, just point me to right direction...

how do i access player States like
YT.PlayerState.ENDED,
YT.PlayerState.PLAYING,
and get player.getCurrentTime()?

[2017-07-01 19:03] goto-bus-stop commented on #115
Hi! By the thumbnail, do you mean the one that's shown before the video starts? It's inside an iframe, so you can't target it with CSS unfortunately.

[2017-07-02 18:59] tjallingt commented on #115
Hello @Oskarino29, this library does not have any functionality regarding YouTube's thumbnails...
If you want to overlay a thumbnail over your video before it is played you'll have to request the video thumbnail using the YouTube Data API and display that instead of the video element until it is "activated".
Hope this helps.

[2017-07-02 18:59] #115 closed

[2017-07-02 19:05] tjallingt commented on #116
our example application shows you how to get a simple application up and running:
https://github.com/troybetz/react-youtube/blob/master/example/

Here is an implementation of a custom progressbar for react-youtube that you could look at (for `player.getCurrentTime()` specifically): https://github.com/tjallingt/react-tjube/blob/master/src/components/ProgressBar/ProgressBar.jsx#L27-L36

The `YT` obj

[2017-07-02 19:05] #116 closed

[2017-07-02 19:06] #114 closed

[2017-07-02 19:06] #112 closed

[2017-07-02 19:09] tjallingt commented on #111
Hello @Kamil1 I'm sorry for the delay in getting back to you.
Are you still experiencing this issue?
If so could you share the code that is generating the error? so I'd like to see the code in bundle.js where the error is triggered (which should be the render method of your YouTubeVideo class).

[2017-07-02 19:10] #104 closed

[2017-07-02 19:10] #90 closed

[2017-07-04 15:30] Oskarino29 commented on #115
Thanks @tjallingt I will give that a try!

[2017-07-19 15:43] xih opened #117 "ReferenceError: YouTube is not defined"
Hi,

I'm using react-boilerplate and after installing react-youtube, I try the test example.
`  import React from 'react'
    import Youtube from 'react-youtube'

    class Example extends React.Component {
      render() {
        const opts = {
          height: '390',
          width: '640',
          playerVars: { // https://developers.google.com/youtube/player_parameters
            autoplay:

[2017-07-19 15:46] xih commented on #117
YouTube not Youtube. Silly me

[2017-07-19 15:46] #117 closed

[2017-07-25 04:33] sakhmedbayev opened #118 "How to make youtube player responsive?"
How I can make `<YouTube />` component responsive?

[2017-07-26 08:37] cfey commented on #118
Try this
[code]

with this style
[code]

see [here](http://embedresponsively.com/)

[2017-07-26 16:32] sakhmedbayev commented on #118
Great! :+1:

[2017-07-26 20:36] #118 closed

[2017-07-28 05:50] vivekparekh8 commented on #97
How do you solve playlist issue ?
How to show playlist using this component ?

[2017-08-10 08:54] nameisys commented on #66
@goto-bus-stop
Hi! I tried your recommendation but i got this when i fire 'pause()'.
"Uncaught TypeError: Cannot read property 'pauseVideo' of undefined"

What did I wrong?😭

[2017-08-10 09:07] goto-bus-stop commented on #66
@nameisys The internal property name has changed since then. A better way to do it is to store the player like HarshaVardhanPVK mentioned:

[code]

[2017-08-11 04:58] nameisys commented on #66
@goto-bus-stop
I got result what I want. :) Thanks for your help!

[2017-08-22 11:21] lewisdonovan opened #119 "[SOLVED]"
Ignore this, I had a typo on my end

[2017-08-22 11:25] #119 closed

[2017-08-24 11:29] almope1516daw2 opened #120 "Callbacks firing at component render"
The callbacks are only firing when the component loads, and they don't work when they should. Why is this happening? The part of the youtube code is the same as the examples

[2017-08-25 02:51] ClintBaker opened #121 "getDuration()"
On the YouTube Player API docs there is a call to getDuration().  Can I use that with react-youtube?  If not, what is the best way for me to get the duration of a video?

[2017-08-25 04:06] ClintBaker commented on #121
It was documented in your docs at the bottom, sorry I missed.  Problem solved.

[2017-08-25 04:06] #121 closed

[2017-08-25 07:35] #120 closed

[2017-08-25 10:46] LeBovin opened #122 "Full width"
Hey,
How could the player use all avaible space ?
Using:
[code]

doesn't force the player use all the container's space. (it is even smaller)
Thanks for any answer

[2017-08-29 19:11] tjallingt commented on #122
https://github.com/tjallingt/react-tjube/blob/master/src/components/Player/Player.jsx/

https://github.com/tjallingt/react-tjube/blob/master/src/components/VideoAppPlayer.css#L1-L8

In combination with the highlighted CSS applied to your YouTube component you should be able to get it full screen.

[2017-09-12 17:47] troycroz opened #125 "Intermittent flickering"
Have there been any reports of the video flickering?

I've observed this a couple times, but have been unable to reproduce it. Was wondering if this has been observed by others.

[2017-09-12 19:24] tjallingt commented on #125
I have not heard of or seen anything like you describe.
If you find out more please let us know.

[2017-09-22 11:37] kamalkech opened #126 "Playlist"
In documentation i can't found playlist implementation ?!!

[2017-09-22 12:13] kamalkech opened #127 "Stupide package"
Any thing works with this module, lost my time here.

[2017-09-22 12:28] #127 closed

[2017-09-22 12:31] tjallingt commented on #126
Please read the first line of the [readme](https://github.com/troybetz/react-youtube/blob/master/README.md) file:

We don't provide any kind of playlist implementation in this package, you'll have to use the youtube iframe player api in order to implement such functionality.

in response to: https://github.com/troybetz/react-youtube/issues/127

If you are asking for help from people who offer thei

[2017-09-22 12:31] #126 closed

[2017-09-22 14:00] kamalkech commented on #126
@tjallingt : sorry because i was angry, but still not working
i already read documentation and i follow instruction of implementation 100% and i get this error :
'Youtube' is not defined  react/jsx-no-undef

and if i import Youtube i get : Unused import YouTube from 'react-youtube'

[2017-09-22 14:08] tjallingt commented on #126
`YouTube`/`Youtube` please check your capitalization.

[2017-09-23 14:22] michaelstokes opened #128 "Failed to execute 'postMessage' on 'DOMWindow': The target origin provided ('https://www.youtube.com') does not match the recipient window's origin ('http://localhost:3000')."
Hello,

First all of, looks great and very useful but just a few things:

Getting the following issue currently in the console popup, I assume this is just related to localhost environment.

[code]

[code]

Additionally this.setState does not work currently.

Thanks very much!

[2017-09-23 14:45] tjallingt commented on #128
Yea thats a [know](https://github.com/troybetz/react-youtube/issues/85) [issue](https://github.com/troybetz/react-youtube/issues/96) we believe to be on YouTube's side.

That error should not in affect the functionality of react-youtube luckily 😄

What do you mean by that? in the code you pasted you are setting `this.state.title` on your videodetail component but you don't seem to be using it anyw

[2017-09-23 14:45] #128 closed

[2017-09-23 15:23] michaelstokes commented on #128
Hi thanks @tjallingt :)

Thanks, and pleased to hear!

My bad, I meant with `onReady={this._onReady}` if I can use that to say set the state of title for the component and then reference that say under the `<YouTube ... />` component i.e.

[code]

[code]

Or somewhat to display some values from the video data.

Ideally, I would like to make use of something really to display a collection of videos

[2017-09-23 16:12] tjallingt commented on #128
I modified the example code that is included in this repository to do what you want it to do.
Hope this helps...

[code]

[2017-10-03 14:59] paulsoh opened #129 "Any ideas on how I could use setInterval to update the current time periodically?"
I greatly appreciate your work! Thanks!

btw, I noticed that the only api i can access to get the current time is to access it via e.target.getCurrentTime. I would like to get a consistent update of the video's progress time-wise. (100ms in my case.) so that I could sync it with my custom components. Any ideas?

[2017-10-03 15:05] paulsoh commented on #129
My current workaround i have working for now is:
At the first event (onReady) I store the event to the class property (this.event)

And once onReady was first called, inside my setInterval I access it through this.event.target.getCurrentTime()...

I'll need to test it out further more though

[2017-10-03 15:12] paulsoh commented on #129
Turns out the `this.event` was unnecessary.
[code]

[2017-10-03 15:12] #129 closed

[2017-10-03 21:43] mikelambert opened #130 "Release version"
Hey there, sorry to bug, but is it possible to get an npm release of this?

Unfortunately the way the package is set up, I cannot depend on the github version from my `package.json`. (Namely, your `package.json` points at `dist/YouTube.js`, which is not available on a github checkout, and so the package fails to load.)

(I'm mainly interested in the lodash cleanup, and depending on a version which

[2017-10-04 08:14] tjallingt commented on #130
http://lmgtfy.com/?q=npm+react-youtube

[2017-10-04 19:48] mikelambert commented on #130
Sorry, I should have requested an _updated_ npm release of this. The published version does not have my recent commit to this repo.

[2017-10-04 21:07] tjallingt commented on #130
My bad, totally forgot about it.
Should be up now as 7.5.0 (accidentally also made a 7.4.1 but whatever)

[2017-10-04 21:07] #130 closed

[2017-10-11 01:32] Sburke0708 commented on #125
@troycroz I've seen this in facebook videos too. i'm on a mac and using chrome. Can't seem to get to the bottom of this, but I don't think it's related to this component.

[2017-10-19 03:44] panppp119 opened #132 "Failed to execute 'postMessage' on 'DOMWindow'"
I've got an error "Failed to execute 'postMessage' on 'DOMWindow': The target origin provided ('https://www.youtube.com') does not match the recipient window's origin ('website_url)."

How can I fix it? Please help.

[2017-10-20 09:27] tjallingt commented on #132
see: https://github.com/troybetz/react-youtube/issues/128

This error is generated inside youtubes embed javascript meaning we cannot fix it and it does not affect the functionality of the youtube iframe api.

[2017-10-20 09:27] #132 closed

[2017-10-27 21:38] Chaoste opened #133 "Dont preload video"
Hi there,

i want to create a page with multiple videos and the browser can't handle the webpage - so it crashes. I would like to like add "preload:none" to the video tag and load it on an hovering event.

Great example: https://codepen.io/gil--/pen/bNxZWg

Greetings,
Thomas

[2017-10-28 15:34] tjallingt commented on #133
This functionality isn't offered by the youtube iframe api and since this project aims to be a minimal wrapper i don't think we will implement it.
I'd recommend you create your own VideoPlayer element wrapping `react-youtube` which uses the video id to load a thumbnail and display that until you actually want to load the video.

[2017-11-16 15:04] Chaoste commented on #133
Hi tjallingt,

thanks for the answer. I already built a wrapper based on your package. If people are interested in it I might publish it :)

Greetings,
Thomas

[2017-11-16 15:04] #133 closed

[2017-11-21 09:48] leogout opened #135 "Android: play can only be initiated by a user gesture"
Hello,

The youtube player on mobile isn't recognizing the `playVideo()` method as an user input and It is blocked with the following warning:
"Failed to execute 'play' on 'HTMLMediaElement': API can only be initiated by a user gesture."
I've also tried `{ autoplay:` ~~true~~ `1 }` in the opts without success.
In my app, it is initialized by a "user gesture" but the player can't know that. Do you

[2017-11-21 10:46] tjallingt commented on #135
Seeing as you wrote `{autoplay: true}` can you confirm that your opts object is what the Youtube IFrame API expects?

More information about the opts object can be found here:
https://developers.google.com/youtube/player_parameters?playerVersion=HTML5

and a working example of the autoplay option can be found in the readme of this project:
https://github.com/troybetz/react-youtube#example

[2017-11-21 11:06] leogout commented on #135
Oh sorry, that's a typo in my post, i've fixed it. I've tried, every combinaisons of "autoplay" option and "playerReady" method. This is a sample of the code I used:
[code]

The `playerReady` method:
[code]

This issue seems related [to this](https://stackoverflow.com/questions/38791760/domexception-play-can-only-be-initiated-by-a-user-gesture).

[2017-11-29 15:05] swapydapy commented on #99
+1

[2017-12-06 06:06] pkellner opened #137 "Is there a way to start the video in the middle?"
That is, I'd like to be able to update a prop and have the video start playing in the middle.

Something like:

<YouTube
       videoId="XyG6wo_iV-Y?t={this.state.currentTime}"
       ...

[2017-12-06 08:28] tjallingt commented on #137
Yes there is, check the official youtube iframe api documentation for more information about the options it offers as this component is just a simple wrapper ontop of that.
see: https://developers.google.com/youtube/player_parameters?playerVersion=HTML5#start

[2017-12-06 08:28] #137 closed

[2017-12-20 23:49] jonleung opened #138 "Is there a way to start a non-autoplaying player programmatically?"

[2017-12-21 08:59] tjallingt commented on #138
See our example code and the youtube iframe api reference:

https://github.com/troybetz/react-youtube/blob/master/example/example.js#L30-L32

https://developers.google.com/youtube/iframe_api_reference#Playback_controls

[2017-12-23 20:33] Richard-Thompson commented on #128
@tjallingt is there a fix for this error message? can we access the YTconfig anywhere ?

[2017-12-24 05:15] fithaN opened #139 "Error:Invariant violation view config not found for name div"
I tried using the react youtube .But during compiling i am getting this error
invariant violation view config not found for name div

[2017-12-25 14:08] tjallingt commented on #139
I need more information, can you show some code?
It seems to have something to do with not capitalising a react components jsx tag ie: `<example />` should be `<Example />`.

[2018-01-08 10:45] umutozdemir97 opened #140 "Failed to execute 'postMessage' on 'DOMWindow' when logged in to Google"
When I log in to my google account and visit the page (http://localhost:3000) where react-youtube component is there, I get an error:

`Failed to execute 'postMessage' on 'DOMWindow': The target origin provided ('https://www.youtube.com') does not match the recipient window's origin ('http://localhost:3000').`

In incognito mode, there is no such error. Options are:

[code]

And in some situations

[2018-01-09 09:15] tjallingt commented on #140
It is harmless and we can't fix it, see other issues:
https://github.com/troybetz/react-youtube/issues?q=is%3Aissue+postmessage

Note: maybe we should add a section to the readme for this

[2018-01-09 09:15] #140 closed

[2018-01-20 07:28] pravinraut809 commented on #139
Getting same error while following Youtube tut,, Plss help

[2018-01-23 16:14] novialimhcp opened #142 "Is there a way to autoplay AND loop a single video?"

[2018-01-29 20:49] Ruthramohan opened #143 "Error:Invariant violation view config not found for name input ,div"
Me to have same issue. I traversed to the file and changed input as Input and div as Div. Though I have the error as Error:Invariant violation view config not found for name Input, Div.

Please ,anyone resolved then post.

[2018-02-02 04:16] rockmandash opened #144 "Unrecognized feature: 'autoplay'."
![image](https://user-images.githubusercontent.com/7580792/35716277-db6396d0-0812-11e8-91ee-41e8781d21f1.png)
I don't know what is going on, seem like youtube has chage a little bit of their api.

[2018-02-11 17:31] JonathanWbn commented on #142
The way I made this work is by calling `event.target.playVideo()` in the `onEnd` event handler while also setting `autoplay: 1` in the `opts`.

[2018-02-12 10:10] JonathanWbn commented on #144
It might be related to Googles [autoplay policy changes](https://developers.google.com/web/updates/2017/09/autoplay-policy-changes) that came into effect January 2018.

A workaround, for now, is this: `onReady={event => event.target.playVideo()}`

[2018-02-12 11:49] rockmandash commented on #144
@JonathanWbn
Thanks for your reply.
Sadly, after adding event.target.playVideo(), the warning still exist.

[2018-02-12 11:54] JonathanWbn commented on #144
Event when you turn `autoplay` to `0`?

Either way, as discussed [here](https://stackoverflow.com/questions/48247002/unrecognized-feature-autoplay-error-with-youtube-embedded-player), this warning seems to be a bug on Googles side.

[2018-02-12 11:58] rockmandash commented on #144
Yes, "autoplay 0" is not fixing the waring

[2018-02-21 17:30] dbrkani commented on #144
any update on this?

[2018-03-18 23:35] graphee-gabriel opened #146 "Autoplay won't work if window is not focused"
I'm working on an app that generates a new youtube player each time the previous one finishes the video, kind of like a playlist.
Everything works well when I'm focusing the window.
But as soon as I switch to another the tab, the playlist will stop at the end of the video, and start again only if i go back to focusing this tab.

Any idea?

[2018-03-28 05:14] marhalpert opened #147 "Add widget_referrer to the props"
https://developers.google.com/youtube/player_parameters#widget_referrer

[2018-04-16 12:15] sarneeh opened #148 "`containerClassName` prop does not exist"
Just like in the title. I don't have any control on the container in this situation.

EDIT:
I've just noticed that this package has not released any new version for 6 months. The code and docs changed a little bit so it's really confusing using this library as many things described in the documentation do not exist in the newest version of `react-youtube`

[2018-04-16 12:31] tjallingt commented on #148
Ah, excuse me i'll update it on NPM in a few hours!
I just plain forgot 😞 after merging the latest pull request...

[2018-04-16 12:48] sarneeh commented on #148
Awesome news! :)

[2018-04-16 17:56] tjallingt commented on #148
@sarneeh Gotcha!

[2018-04-16 17:56] #148 closed

[2018-04-29 07:53] phakphumi opened #150 "How to control the video player via this package"
I would like to know how to play, pause, stop, increase video speed, play next video in this package.
Anyone has an example

[2018-04-29 08:05] #150 closed

[2018-04-29 08:31] tjallingt commented on #150
check out the example folder for a more complete example but the onready event gives you access to the youtube object:

[2018-04-29 08:33] tjallingt commented on #150
check out the example folder for a more complete example but the onready event gives you access to the youtube object:

https://github.com/troybetz/react-youtube/blob/master/example/example.js#L23-L28

you can then use any of the youtube player api methods on that to control the youtube player https://developers.google.com/youtube/iframe_api_reference#Functions

Hope this helps

[2018-05-03 09:09] andycloke commented on #109
It's a hack but you can use @getnashty's solution for a similar issue https://github.com/react-native-community/react-native-video/issues/238#issuecomment-230317033 on [react-native-video](https://github.com/react-native-community/react-native-video):

`import debounce from 'lodash.debounce';`
`onEnd={debounce(this.myFn, 100)}`

[2018-05-10 18:36] YPCrumble opened #151 "Youtube iframe container should be a <div> instead of a <span>"
Thanks for this simple library! Very quick to implement and saved me a ton of time :).

I'm trying to style my video embed player and finding that the `<span>` element means that I can't set widths like I want to using the `containerClassName` prop. Is there a reason that the component is wrapped in a `<span>` vs. being wrapped in a `<div>` element? Happy to submit a PR to make the change if that

[2018-05-10 19:51] tjallingt commented on #151
Initially we did not offer a containerClassName prop and wrapped the youtube player with a span. Because of the default behaviour of the span it is possible to just apply styles to the player directly and not have to worry about the span being there.

containerClassName was mostly added for those rare cases where one does have to style the span element to achieve a certain behaviour.

Since the sp

[2018-05-11 13:50] AtnesNess commented on #144
any update on this?

[2018-05-11 18:17] tjallingt commented on #144
No, I'm not sure why/how this is happening. I'm sorry but this is on Google/Youtube's end, nothing i can do 😞

[2018-05-13 14:44] rockmandash opened #152 "if autoplay is true, and is mobile, automatically set mute first"
if autoplay is true, and is mobile, automatically set mute first
Because this is the only way to autoplay on mobile devices, if you think this is inappropriate, then log a warning, otherwise, autoplay in a mobile device is so much misleading.
I know this is a youtube problem, but it will be nice to fix this default behavior in this great wonderful react-youtube library ( because this is the only l

[2018-05-24 14:56] kamilwronka opened #153 "Video player resizing on changing window size."
Hello. Is there any possibility to make video player scallable with window size? With available methods I can only change player size using walkaround like this:

`componentDidMount() {
		window.addEventListener(
			'resize',
			() => {
				if (!isNil(this.ytContainer)) {
					const w = window.innerWidth + 50;
					const h = w / 16 * 9;
					this.ytContainer.setSize(w, h);
				}
			},
			false
		)

[2018-05-30 18:04] omi10859 opened #154 "Couldn't find preset "es2015""
react-native: 0.55.3
error message:
--------------------------------------------
bundling failed: Error: Couldn't find preset "es2015" relative to directory "/Users/omkaryadav/Documents/projects/React/React-Native/AsetAlias/node_modules/react-youtube/build" (While processing preset: "/Users/omkaryadav/Documents/projects/React/React-Native/AsetAlias/node_modules/react-youtube/build/preset-es2015.js

[2018-06-14 20:10] SEAjamieD commented on #122
Thank you for this!  Just used and worked like a charm.  And also thanks for maintaining this, it's really great!

[2018-06-28 15:28] djflorio commented on #128
@Richard-Thompson not sure if you're still looking for a solution, but what worked for me was putting...
[code]
...in the constructor of the component that utilizes react-youtube. Hope this helps!

[2018-07-19 14:19] edwinharly opened #156 "Set the url value manually"
I read that the url props was replaced by videoId, but is there still some way to set the url manually ? The reason is that I want to use the search query (`https://www.youtube.com/embed?listType=search&list=QUERY`)

[2018-07-31 22:07] volodymyr-kushnir commented on #152
I had a similar issue with autoplay on Chromebit devices. So I just run `playTestVideo()` in my application wrapper's `componentDidMount()` method. The idea is that you can [**detect if autoplay works**](https://developers.google.com/web/updates/2017/09/autoplay-policy-changes) on the particular page and if not — mute the player and then play the video.
[code]
I know it's clumsy, but I also tried

[2018-08-01 07:34] tjallingt commented on #152
At the very least we should have a section in the readme warning people that this is necessairy (i was not aware of this before you told me either).

I'm not we can detect this in the `react-youtube` library since we have no idea whether a client is mobile or not (without doing user agent sniffing which is not something i really want this package to do 😕).

It is possible to log out a warning on e

[2018-08-01 08:03] tjallingt commented on #156
You can set the list and listType through the `playerVars` option of the youtube iframe api: https://developers.google.com/youtube/player_parameters?playerVersion=HTML5#list

[code]

[2018-08-01 08:03] #156 closed

[2018-08-01 08:16] tjallingt commented on #154
You are attempting to build react-youtube but appear to not have the dependencies installed in the correct place or something.

Instead of rebuilding react-youtube you should probably use the dist/Youtube.js we ship on npm.

I have no experience with react native and i don't think react-youtube is compatible with it.

[2018-08-01 08:27] tjallingt commented on #147
You can already pass this using the opts prop:

[code]

If you can make a compelling argument for why this should be a direct prop instead of allowing users to pass through options exactly like the youtube iframe api we can think about defining props for this and other playerVars.

[2018-08-01 08:27] #147 closed

[2018-08-01 08:34] tjallingt commented on #146
hey @graphee-gabriel,

Sorry for the delayed response, I have not encountered this issue...
Browsers are cracking down on sites that are autoplaying content however so I imagine that might have something to do with it...

Are you reusing the react-youtube instance, after a user starts an instance of the youtube player as long as it exists it should continue to autoplay (if the autoplay flag is set

[2018-08-01 08:34] #143 closed

[2018-08-01 08:34] #122 closed

[2018-08-01 08:35] #125 closed

[2018-08-01 08:35] #144 closed

[2018-08-01 08:36] #86 closed

[2018-08-01 08:37] #111 closed

[2018-08-01 08:37] #135 closed

[2018-08-01 08:37] #138 closed

[2018-08-01 08:38] #142 closed

[2018-08-01 08:41] #79 closed

[2018-08-01 09:07] leogout commented on #135
Hello, any inputs about this ?

[2018-08-01 09:31] edwinharly commented on #156
@tjallingt is that `videoId` necessary ? It doesn't work when I delete the `videoId`, from the [documentation](https://developers.google.com/youtube/player_parameters?playerVersion=HTML5#Selecting_Content_to_Play), I think that the `videoId` won't be necessary if using search

[2018-08-01 09:56] tjallingt commented on #135
Hey since there was a long period of inactivity on this issue (and no response since my last suggestion) i figured it would be okay to close it... The documentation of the youtube iframe api now contains a note regarding this issue: https://developers.google.com/youtube/iframe_api_reference#Mobile_considerations

[2018-08-01 09:58] tjallingt commented on #156
Great to hear that!

[2018-08-01 10:02] leogout commented on #135
Okay no problem! Thanks for this, I'll have a look.

Cheers!

[2018-08-07 02:26] kartiklad commented on #154
I am getting a similar error when using the package in my project. It seems like Webpack is trying to use es/YouTube.js

[code]

[2018-08-07 07:19] tjallingt commented on #154
is it possible for you to share your webpack and babel configuration?

[2018-08-17 03:43] kartiklad commented on #154
Sorry it took me a while to get back, have been really busy pushing out features.

**We use an ejected version of CRA.**
[code]

**babel config:**
[code]

[2018-08-22 13:54] acmoune opened #158 "Video Unavailable, where trying to play"
The Video thumbnail loads well, then when I try to play, it does like it is about to launch the video, then I get this screenshot. But of course, the video plays well on youtube.

any idea on what is going wrong ? It works well on my local dev machine. this is a screenshot from prod environment.

![yt-err](https://user-images.githubusercontent.com/8550711/44467729-8164e100-a61b-11e8-9d3c-8bc46fc95

[2018-08-22 14:10] tjallingt commented on #158
Hmm thats strange, can you check out if there are any warnings in your javascript console?

[2018-08-22 14:16] acmoune commented on #158
Noting except this

[code]

But I think I use to have it even with `localhost`

[2018-08-22 14:26] tjallingt commented on #158
yea that message isn't unusual and doesnt seem to affect functionality of react-youtube...

is it only for that video? maybe embedding is disabled for that video (which should give a different error but maybe they changed something).

[2018-08-22 14:31] acmoune commented on #158
.I tried 2 videos that use to work on localhost, I got the same thing.

[2018-08-22 16:26] acmoune commented on #158
I close this, since the issue is not from the module. But if you have any suggestion, please do not hesitate to post.

[2018-08-22 16:26] #158 closed

[2018-08-24 15:54] william-abboud opened #159 "Example testing with Enzyme and Jest"
I am trying to unit test a custom YoutubeVideo component which uses react-youtube. I would love if an example of how to test the a component wrapping react-youtube is provided.

Thank you !

[2018-08-25 14:13] tjallingt commented on #159
Mock out react-youtube and check whether the props of the Youtube component are what you'd expect they are.

[2018-08-25 17:01] Nufflee commented on #96
@goto-bus-stop Doesn't seem to work here.

[2018-09-08 11:49] Rickmey commented on #158
@acmoune

I have the same issue. After some investigation I found it's more or less random if you get the video. Refresh the site and sometimes the video will be availabel.

I assume it's an issue with the YouTube data servers. Genereally the video exists but not on the server you're routed to. I encountered four different displays of "video unavailbale".
I'm currently trying to implement a workar

[2018-09-09 19:52] acmoune commented on #158
@Rickmey  Thank you. What I observed is that some videos always run well, and others others show that error. I tried to refresh many times.

But I am wondering why all those videos run well from localhost.

Maybe youtube allows to disable broadcasting from others servers on internet, but as long as you run on localhost it works. But if refreshing many many times can make it run as you say, then I

[2018-09-12 02:53] khanhlu2013 opened #160 "How can we change video videoId state and play it at the same time?"
I am following the example of this repo.

Not working code attempt 1:

[code]

Not working code attempt 2:
[code]

Working code,  attempt 3:
[code]

[2018-09-12 12:04] nakamotoo opened #161 "How to set an iframe's width to 100% of its parent <div> ?"
I want to set my iframe width to 100% , my code is like this:

`const opts = {width: '100%'};`
`return(`
`<div  style={{width: '1000px'}}>`
    `<YouTube videoId="2g811Eo7K8U" opts={opts} />`
`</div>`

but there is a span tag between div tag and iframe tag  by default ,
and the width of span tag is 300px.
Is there any solution to control the width of span tag and set the width of <iframe> to 100%

[2018-09-13 16:48] tjallingt commented on #161
There should be no problem applying css to the iframe in order to give it a 100% width.
Default styling on spans doesn't set a width on them so you should probably look into whatever is causing all your spans to be 300px wide. This really shouldn't be necessary but you can apply styling to the span using the `containerClassName` prop.

https://github.com/tjallingt/react-tjube/blob/master/src/compo

[2018-09-13 16:50] tjallingt commented on #160
On non-mobile browsers you can rely on the autoplay player var to start playing the video: https://github.com/tjallingt/react-tjube/blob/master/src/components/Player/Player.jsx#L13

[2018-09-14 08:30] nakamotoo commented on #161
Finally it works !
The reason why it did't work well was that I set `display: flex` to the parent div.
Thanks a lot !!

[2018-09-15 08:45] #161 closed

[2018-09-18 19:32] WeiXu123 commented on #96
I haven't find a solution for this issue, but I find a way to reproduce this issue.
If you have some tools like Charles, try to block the youtube iframe get call, you will see this error in your console every time.
I checked the Google's js file, they are just running `iframe.contentWindow.postMessage`, I am guessing that maybe when the iframe content loads slow, the postMessage call was sent to t

[2018-09-27 12:19] mlnor27 opened #163 "Publish a new version of the package"
Hi !

Could you republish a new version of the package on npm so we all can benefit from the latest fixes please ?
That would be much appreciated.

Thank you in advance

[2018-09-27 18:23] blakesisu opened #164 "Can't get rid of all the controls"
If I use the following iframe, the video works great, with no controls, but when I convert these params into the playerVars object, and pass into the youtube component, the top controls still show for the video. Any ideas why this might be? Thanks!

iframe:
`<iframe width="100%" height="100%" src="https://www.youtube.com/embed/mUWiJuo9Sj4?start=101&end=140&modestbranding=1&controls=0&showinfo=0&re

[2018-09-27 19:00] tjallingt commented on #163
done

[2018-09-27 19:00] #163 closed

[2018-09-27 19:01] tjallingt commented on #164
Here is the opts that I use in a project: https://github.com/tjallingt/react-tjube/blob/master/src/components/Player/Player.jsx

These seem to hide the controls for me so if it doesn't work for you I'm not sure where that issue is coming from :(

[2018-09-27 19:43] blakesisu commented on #164
Thanks for the response, still no dice, I'll let you know if I figure it out though

[2018-09-27 20:03] tjallingt commented on #164
if you check: https://tjube-ninja.now.sh/ do you see the controls? then it might be your browser... otherwise some combination of playerVars is causing an issue probably. Hard to tell, haven't had or heard of any issues like this

[2018-09-27 20:07] blakesisu commented on #164
I'm getting an error with the playback, maybe I should update my chrome, it hasn't been too long but I do think they made a recent change to the api. For now I'm just using an iframe and init function to capture the state change and ready trigger.

Here's the error:
![2018-09-27-130538_892x252_scrot](https://user-images.githubusercontent.com/33074598/46171735-44ad8a80-c256-11e8-8662-5e56f53599e0.p

[2018-10-02 10:09] gaveen5555 opened #165 "Player not working in the production build"
I got this library to work on my localhost but it is not working in the production build. What can be the reason for this?

The error i'm getting is

main.0ebe5793.js:sourcemap:1 Refused to load the script 'https://www.youtube.com/iframe_api' because it violates the following Content Security Policy directive: "default-src 'self'". Note that 'script-src' was not explicitly set, so 'default-src' is

[2018-10-02 10:15] tjallingt commented on #165
Whatever you are using to host your production build is setting the CSP header and blocking any external scripts from being loaded. react-youtube loads the youtube iframe api when it is mounted from youtube.com so you need to whitelist scripts from youtube...

[2018-10-02 10:15] #165 closed

[2018-10-02 10:35] gaveen5555 commented on #165
headers {
    contentSecurityPolicy = "img-src 'self' data:; default-src 'self'"
  }

This is how i've set my CSP

[2018-10-02 11:05] tjallingt commented on #165
you might want to add `script-src youtube.com;`

[2018-10-08 16:02] Ferrus91 opened #167 "Use fast-deep-equals in place of lodash"
Use fast-deep-equals in place of lodash #166
See the PR above.

I have faced a lot of resistance to using this library primarily based around the lodash dependency and the issues that causes. The above change would reduce bundle size and also be faster.

[2018-10-08 19:01] tjallingt commented on #167
merged and published as 7.8.0

[2018-10-08 19:01] #167 closed

[2018-10-12 09:52] hackhat opened #169 "Can't scroll when mouse over video @ 7.8.0"

[2018-10-12 09:56] hackhat commented on #169
Changed to 7.5.0 and works perfectly. There is some regression or different options.

      opts: {
        width: `100%`,
        playerVars: { // https://developers.google.com/youtube/player_parameters
          autoplay: 0,
          modestbranding: 1,
          listType: `playlist`,
          list: `xxxx`,
        },
      },

[2018-10-19 06:38] NoxHarmonium opened #170 "Prop error when using playlist"
We are using the component to play a playlist like so:

       <YouTube
          opts={{
            playerVars: {
              autoplay: 1,
              listType: 'playlist',
              list: 'xxxxxxxxxxxxxxx'
            }
          }}
        />

It works fine, but we get a prop warning from React in the console:

    Warning: Failed prop type: The prop `videoId` is marked as required in

[2018-10-24 14:34] flavioamc opened #171 "Custom Poster"
Hello,

Do you support custom poster / custom thumbnail?

Thanks

[2018-11-01 06:13] walkerreynolds16 opened #172 "Changing player volume"
Is there a way to change the volume of the embedded player?

[2018-11-01 11:35] tjallingt commented on #172
You can find instructions in the official youtube iframe api documentation here: https://developers.google.com/youtube/iframe_api_reference#Playback_controls

You can check the example for more details on how to get access to the player object: https://github.com/troybetz/react-youtube/blob/master/example/example.js#L23-L28

[2018-11-01 15:13] #171 closed

[2018-11-04 11:56] StepIg opened #173 "where can i find a complete example for newbies, please?"
Where can i find how to setup a windows environment from scratch, what is needed and how to make run the sample, please?
when i start the example i only see the header. not the whole contents like in https://u-wave.net/react-youtube/
thanks in advance

[2018-11-04 12:04] StepIg opened #174 "error installing u-wave-cli"
i got this error on installing:
npm ERR! code E404
npm ERR! 404 Not Found: u-wave-cli@latest

[2018-11-08 17:56] grochadc commented on #173
I think I can help but I would need to see your code. Can you post it please?

[2018-11-08 22:34] #151 closed

[2018-11-08 22:37] #174 closed

[2018-11-08 22:37] #172 closed

[2018-11-08 22:38] #160 closed

[2018-11-08 22:38] #159 closed

[2018-11-09 08:10] walkerreynolds16 opened #177 "Restricted Videos"
This is more of a question rather than a problem. I got my site, which contains this youtube player, into a production server. When i try to load certain videos such as many music videos, the player shows "video unavailable - This video contains content from $$$, who has blocked it from display on this website or application". This makes since why companies wouldn't want their videos being display

[2018-11-09 10:36] StepIg commented on #173
Thanks, all is working.
is there any way to autoplay in fullscreen on start automaticly?
thanks in advance

[2018-11-09 12:18] tjallingt commented on #174
Since you opened two issues at the same time i felt i could help you better in the other one since the amount of information provided here is quite limited...

Also u-wave is/was a depend_end_ of react-youtube so it is unlikely that the issue is related to react-youtube.

[2018-11-10 05:45] walkerreynolds16 opened #178 "Stopping video queues and plays video again"
I'm stopping my YouTube player when i receive a network signal, but the video stops for a second then just starts playing again.

This is my player state data as It's video is stopped
state data = 2
state data = -1
state data = 5
state data = -1
state data = 3
state data = 1

So it pauses the player, stops the video, queues next video(same video) then plays it.

This is my stop function
![capture]

[2018-11-10 05:51] walkerreynolds16 commented on #178
never mind, I had a pause function that was the playing the video immediately after stopping

[2018-11-10 05:51] #178 closed

[2018-11-26 19:11] #177 closed

[2018-12-04 23:42] Vuice opened #179 "IE 10 & 11 issue - Promise is undefined"
I am running the example (npm run example) locally and getting the following error in the console in IE 10:

SCRIPT5009: 'Promise' is undefined

I was reading an issue with another player (react-player) that required a polyfill (https://github.com/CookPete/react-player/issues/39).  Is it possible to apply to this player as well?

[2018-12-05 09:50] tjallingt commented on #179
yea you probably need a polyfill (or [ponyfill](https://github.com/sindresorhus/ponyfill)) such as: https://www.npmjs.com/package/es6-promise or https://www.npmjs.com/package/pinkie-promise

[2018-12-05 09:50] #179 closed

[2018-12-06 17:43] technoplato commented on #173
FWIW here is the full source of the example you linked: https://github.com/u-wave/react-youtube/blob/master/example/app.js

[2018-12-07 13:39] jonathangiamp commented on #169
Same problem here on Chrome. Anyone have a solution?

[2018-12-10 16:11] ahmedu007 opened #180 "Focus player on mount"
Hi,

Thankyou for the amazing package. The keyboard shortcuts work great too, however, they only work when the iframe is selected and in focus. I'm trying to focus the player on load so the user can use keys to play / pause videos and use other controls. I've tried using refs but they didnt work. Is there any other way of doing it?

Here is my sample code:

[code]

[2018-12-20 21:05] davidecarpini commented on #169
If you don't need to click the video you can wrap it with a pointer-events: none
<div style={{ pointerEvents: 'none' }}>
	<YouTube
		videoId=""
		opts={opts}
	/>
</div>

[2018-12-21 06:11] hackhat commented on #169
Yeah, that's ok, but I need people to play and pause. Thanks anyway

[2019-01-14 19:38] lilybarrett commented on #170
Agreed. I'm using a randomizer function to render a random video on each page render, and currently, while everything works well/otherwise looks good, I'm seeing this error pop up before the player's initial render. I'm not sure if it would make total sense to make `videoId` an optional parameter, since we do need it to display a video, but could we somehow account for this initial render issue?

[2019-01-14 23:01] tjallingt commented on #170
Oh sorry didn't catch this until now.

Making videoId optional seems better to me than exposing a new prop/api for playlists. Although we do nees to make sure the player is not loaded into an unexpected state (for example just not showing anything).

If either of you would submit a pull request for that i'd be happy to merge it :)

[2019-01-14 23:48] lilybarrett commented on #170
On it.

[2019-01-14 23:52] lilybarrett commented on #170
Made the change. Ran the tests and the example, and all seemed good. Would you be willing to test it out, as well, to make sure I haven't missed anything? Here's the PR: https://github.com/troybetz/react-youtube/pull/182

[2019-01-17 18:43] lilybarrett commented on #170
@tjallingt What's the status of this change?

[2019-01-17 18:53] tjallingt commented on #170
excuse me for the inactivity...
everything looks fine to me so I just published it on NPM 🚢

gonna close this issue now :)

[2019-01-17 18:53] #170 closed

[2019-01-21 15:38] khawerrind opened #183 "origin property in playerVars not working"
Hi, Thank you for the great library.
I am trying to pass `origin` in the `playerVars` but it is not showing up in the iframe.

[code]

The origin in the `src` is still localhost
[code]

[2019-01-21 19:55] tjallingt commented on #183
We are not touching the contents of the playerVars so I'm not sure whats going on there...
Maybe someone can jump in and look at whats going on?

[2019-01-22 10:02] guerrap opened #184 "Is it possible to remove the "More videos" tab?"
Is it possible to hide or change the behavior on the click event of the "More videos" tab that opens up when the video is paused? I ask this because if you want to build your YouTube like app and click on one of the videos in the "More videos" tab you get redirected to YouTube itself, outside of your app. Maybe I misunderstood this component, that should be used just as a widget for a single video

[2019-01-31 15:08] Komsomol commented on #184
It doesn't look like it is possible anymore after Youtube [deprecated the rel=0 parameter in playerVars object](https://developers.google.com/youtube/player_parameters#release_notes_08_23_2018). This change is not something this react component controls.

[2019-01-31 15:09] Komsomol commented on #164
Set modestbranding: 0 to modestbranding: 1

[2019-02-04 15:49] #184 closed

[2019-02-14 20:13] vedran-brnjetic opened #185 "no-cookie option"
I ended up here from juliussohn/react-youtube-background which uses your component as the basis for their component.

Can you add a possibility to use **www.youtube-nocookie.com** as the source of the video, just without cookies, to [make use of YouTube's enhanced privacy](https://www.ghacks.net/2018/05/23/why-you-should-always-use-youtubes-privacy-enhanced-mode/)? Either by default or through an

[2019-02-17 17:58] skdigital commented on #128
I am also looking for a fix..... its something todo with HTTPs links to the videos, but with this plugin I can't find where to change the base url to target videos, it only accepts video id as a prop.

[2019-03-07 08:56] vedran-brnjetic commented on #185
I finally found time to dig through this myself and discovered that by passing `{host: "https://www.youtube-nocookie.com"}` in opts object makes this happen.

I'm closing this issue and hope it helps someone else.

[2019-03-07 08:56] #185 closed

[2019-03-08 22:24] yakirifrah opened #187 "how i can use seekTo() to skip the to specifics second"
I want to play specific points in a Youtube video. Is there a possibility to stop a video on a certain timepoint with this package,I'd love to know how

[2019-03-20 15:30] mateodelnorte opened #188 ""Module not found: Error: Can't resolve 'fs'" during build with gatsby.js"
I'm getting the following errors when attempting to build, using gatsby.js:

[code]

[2019-03-24 18:46] tjallingt commented on #188
Seems to be an issue with HRM, webpack or Gatsby.
The `debug` package is an indirect devDependency used by webpack-dev-server, babel, eslint and more.
The only way you can reference it is by running our build scripts (which you shouldn't have to).

Not sure what's going on as I'm not familiar enough with Gatsby.

[2019-03-28 12:54] karolisgrinkevicius-home24 opened #189 "Type definitions for PlayerState"
Thanks for this great library first of all. I'm working with TS a lot and there's something that I missed in type definitions.

`@types/react-youtube` is missing definitions for `PlayerState` object. Could you please add it to the `DefinitelyTyped` next release?

[2019-04-28 09:52] utkarshdubey opened #191 "How can I get the current time of the video?"
How can I get the current time or duration of the video iframed? Is there any method? If yes, then please tell the code for it too.

[2019-04-29 14:32] radiansz commented on #188
Had the same problem, but with `rollup` build. In my case problem was that `rollup` wasnt respecting [browser](https://docs.npmjs.com/files/package.json#browser) field in `package.json` which points to version of package for browser and being used by `debug` package. I solved it via providing additional params to `rollup-plugin-node-resolve`.
I believe Gatsby should have something similar

[2019-05-08 10:13] 42x42x42 commented on #191
you could set your own time counter on function onStateChange which is provided(dont forget to pause your counter when video is paused or buffering)

[2019-05-08 19:05] alacritythief commented on #187
Hey @yakirifrah, while this is a very late response I'm answering this here so others can know the answer. You need to put the player once it's loaded (`onReady`) into state so it can be easily accessed, and call `.seekTo` on the player.

**Create React App Component example:**

[code]

[2019-05-09 09:53] utkarshdubey commented on #191
@42x42x42 There are the native Youtube API calls such as player.getCurrentTime(). can't I access using them?

[2019-05-09 10:50] 42x42x42 commented on #191
@utkarshdubey, I didn't knew about that call . Have checked it and it works too

[2019-05-09 17:50] tjallingt commented on #191
You can find instructions in the official youtube iframe api documentation here: https://developers.google.com/youtube/iframe_api_reference#Playback_status

You can check the example for more details on how to get access to the player object: https://github.com/troybetz/react-youtube/blob/master/example/example.js#L23-L28

[2019-05-09 17:51] #191 closed

[2019-05-09 17:52] utkarshdubey commented on #191
No there aren't. The thing is player is not defined and this is the main problem.

[2019-05-09 17:59] tjallingt commented on #191
please check out this example that shows how to get access to the `player`: https://github.com/troybetz/react-youtube/blob/master/example/example.js#L23-L28

[2019-05-10 00:57] foureyedraven opened #192 "Control over width but not height (stuck at 150px)"
Hi,

EDIT to point out I'm on React Native (edit: React Native Web 0.10.0).

For some reason I don't have full control over the height of the iframe created to show a youtube video. The height is restricted to 150px no matter what I do, 150px being the default to iframe. For some reason, I do have control over the width.

My code is very simple:

[code]

I've tried a lot of permutations of the hei

[2019-05-30 00:05] diegoaguilar commented on #192
Did you find a workaround for this?

[2019-06-10 17:28] shanben7 commented on #128
Will there be a fix for this?

[2019-06-11 17:16] GantMan opened #193 "Simple Question: Enforce fullscreen on play?"
I know `playsinline` is set to 0 so it fullscreens on mobile.

But I'd like to have it fullscreen on web, as well.  Any friendly advice on how to do this?

Should I tie into onStart and then access the referer and fullscreen it?  Just not sure if I'm thinking this through correctly.

[2019-06-14 19:53] ScottAgirs commented on #192
You could try something along the lines of this:

[code]

[2019-06-14 20:55] ScottAgirs opened #194 "Authenticate Private Videos with react-youtube?"
Is it possible and if not, is it on the road map to authenticate private videos with this component to be able to stream those via one's app?

Cheers for the good work.

[2019-06-25 22:27] Marcuspo opened #195 "pre-roll"
``Would you like to add a publicity received via props and load before the video as a pre-roll

[2019-06-26 17:22] brunocalou commented on #192
I had the same problem using it on web.
The problem is that from version 7.8.0 to 7.9.0 a div tag was added between YouTube component and the iframe tag

I believe it was caused by this commit: 0865bdd58a6a55bffc7fca7f1302ba9a179cf5fa

To solve it immediately, I forced this div to have height: 100%

[code]

[2019-06-28 17:27] rosemarystanley opened #196 "IE11 JavaScript (Error: SCRIPT445) “Object doesn't support this action”"
I recently got this message and wasn't able to really fix it (other than using an iframe) but I think it's related to this issue:
https://stackoverflow.com/questions/31765353/ie11-javascript-error-script445-object-doesnt-support-this-action

Using IE 11, Windows 10
react-youtube 7.9.0

Doesn't seem to be an issue in any other browser

[2019-07-02 04:24] mouhsinelonly opened #197 "callbacks not firing"
none of the callbacks are firing, can someone iterate on that ?
react-youtube 7.9.0
react 16.8.6

[2019-07-02 14:48] #195 closed

[2019-07-03 13:26] rosemarystanley commented on #196
This isn't an issue with the library but an issue with the URL constructor's incompatibility with IE 11.

[2019-07-03 13:26] #196 closed

[2019-07-08 18:40] geofflangenderfer commented on #173
I'm getting the following error with npm run example:

[code]

[2019-07-13 04:17] Marcuspo opened #198 "showinfo is not working"
const videoOptionsPre = {
    width: "100%",
    height: "455",
    playerVars: {
      // https://developers.google.com/youtube/player_parameters
      controls: 0,
      autoplay: play,
      modestbranding: 1,
      rel: 0,
      disablekb: 1,
      showinfo: 0,
    }
  };

but showinfo not working and show title in video.

[2019-07-25 04:06] harrison0723 commented on #198
The parameter's deprecated.

https://developers.google.com/youtube/player_parameters#showinfo

[2019-07-25 12:53] Marcuspo commented on #198
where do you report that it was discontinued?

[2019-07-25 14:27] ray-4dvw opened #199 "startSeconds does not work"
This is how i set it up.  But seems both start and end are not working.

[code]

     <YouTube
        opt={opt}
        onReady={onReady}
        videoId="RGu5wTuPo5g"
      />

[2019-07-25 14:33] ray-4dvw commented on #199
I found a  work around
[code]

[2019-07-26 11:11] mrlubos commented on #188
Hey, just wanted to comment I have no issues with Gatsby 2.3.17!

[2019-07-27 09:34] sam-82 opened #200 "Accessing div container of iframe"
Hi,
I could not set ref or className for div container of iframe?
It is mandatory to access it whenever we are going to remove black bars on top and bottom of video.
Regards,

[2019-07-27 10:17] sam-82 commented on #200
It is mandatory to access it since

[2019-07-27 10:17] #200 closed

[2019-08-19 20:11] ronenmagid opened #201 "Can't set width and expect proportional auto height, nor vice versa"
This component forces pre-knowledge of the exact video size or it cannot work.

I have a 500px width available for it, but specifying 500px width alone gives you a very short height, that's completely non-proportional to the width.

[2019-08-23 20:34] ndom91 commented on #193
@GantMan heres what I have. It uses the browser APIs to set it fullscreen. You can see an example here: [youtube.ndo.dev](https://youtube.ndo.dev). Its simply based off of a prop called `fullscreen` being set to 1 or 0, which is done by the checkbox on the screen:

[code]

[2019-08-23 20:38] ndom91 commented on #198
@Marcuspo you as the consumer dont report it anywhere. Google tells us when / if stuff gets deprecated and we need to adjust our implementations accordingly.

If you mean where to report this deprecation to this react component, if there is an implementation in the component of this option, your best bet is to simply make a pull request yourself and remove the functionality and/or maybe replace it

[2019-08-23 20:40] ndom91 commented on #201
@ronenmagid whats the problem with also setting the height beforehand?

A youtube video is always 16:9, so if you have `500px` width available for it, just specify a height of `281px`

[2019-08-30 14:19] MichaelDimmitt commented on #193
If you just want the video 100%.
css file
#widget2{
  height: 100vh
  width: 100vw
}

[2019-08-30 14:24] MichaelDimmitt commented on #201
@ronenmagid
The Iframe that the project uses has an id called widget2

Add this change to your css file. 🙂
[code]
Or however you want to set the height and width dimensions for mobile responsiveness.

Kind of a hack but it gets the job done.

[2019-08-31 01:59] MichaelDimmitt commented on #201
Turns out the widgets were dynamic.
So when javascript was generating a new iframe it would increment the widget id.

to get around this I put the styling on iframe as a whole.
Understanding this is not a good solution if you have more than one iframe on a page.
[code]

[2019-08-31 02:00] MichaelDimmitt commented on #201
Really the component should accept styles as props to be added to the parent div and the iframe. 🤷‍♂️

[2019-09-19 13:35] thang40 commented on #197
Same issue here,
![Capture](https://user-images.githubusercontent.com/13907333/65248768-efc8eb00-db1c-11e9-9c8a-70a3ecdd0266.PNG)

[2019-09-20 04:53] dcorb commented on #192
We use this:
[code]

[2019-09-24 17:16] dineufeld commented on #197
Same problem here

[2019-09-24 19:22] BradyEdgar94 commented on #180
@ahmedu007 Did you ever find a solution to this?

[2019-10-07 11:19] ahmedu007 commented on #180
No unfortunately :(

[2019-10-08 14:25] rdalfonso opened #202 "onReady callback Typescript type"
What should the TypeScript type be for the onReady callback method?
Using Event doesn't make the methods accessible.
'Any' seems to work but I'd like to know what the Type should be.
**Note:** I do have @types/react-youtube installed.

Thanks

` &lt;YouTube
        videoId="2g811Eo7K8U"
        opts={opts}
        onReady={this.onReady} &gte;

onReady(event: _Event_??) {
    // access to player in

[2019-10-17 11:30] vulehai commented on #169
I have the same problem, if you have any solution please help me! Thank you!

[2019-11-05 09:42] vadym1930 opened #208 "See in the network tab continuously sending requests"
That's odd for me. Did I do something wrong or its standard behavior?
![image](https://user-images.githubusercontent.com/23741176/68196438-5157f280-ffc1-11e9-9c0a-77a12a99ef97.png)

[2019-11-05 09:45] vadym1930 commented on #208
That is fair when I start video on `onReady` event and my video is inside the slider.

[2019-11-05 10:24] vadym1930 commented on #208
Guessing It's how youtube API works...
Checked network tab at youtube page itself and they do similar requests

[2019-11-28 09:20] vamsimudadla opened #210 "Youtube Icons"
Is there any way to remove or disable the icons like watch later,share,info in the youtube player

[2019-12-05 21:25] lukbrt opened #211 "How to get reference a reference to a video player"
Hello,

Does this component allows to get reference to a particular video player and call stopVideo() method on it? I need to embed the video component inside modal and I would like to stop the video whenever the user closes the modal, but I can't see any information in react-youtube documentation. There is reference to Youtube API documentation, but there they just reference to player object, but

[2019-12-19 03:20] JoshuaKGoldberg opened #212 "Allow modifying tabIndex and other props?"
Hi, thanks for this great package!

Because of https://github.com/davidtheclark/focus-trap/issues/57, in my usage of `react-youtube` I need to set the iframe's `tabIndex = 0`:

[code]

Not ideal. Could this package please allow either:

* _(preferred)_ An `iframeProps` object of attributes to give to the iframe?
* Failing that, calling that iframe `iframe` in the target, instead of the closure-min

[2020-01-31 18:58] LRharlekin opened #213 "Re-render with playlist fails"
(There was a similar issue #97 opened by @rmammina in 2017. Unfortunately it was closed shortly after without any answers.)

_Note: I am quite new to coding in general, so have mercy :-)_

I'm basically trying to build a stripped-down version of [this website](www.neverthink.tv) (but with comedy clips instead of memes) as a personal project to develop my skills.

When the component mounts, the `.l

[2020-03-10 00:42] rantoniops commented on #211
I have the same issue :(

[2020-03-16 13:07] appac commented on #211
I think you might want [Refs](https://reactjs.org/docs/refs-and-the-dom.html) for achieving this. I currently use a ref to trigger the video to play when another element is clicked. Crate a ref in the component, then attach that ref to the video element. It'll then be accessible via that ref.

I threw together an [example here](https://codesandbox.io/s/fervent-pare-xgnzd), if it helps!

[2020-03-22 23:40] ruisaraiva19 commented on #211
@appac thanks for helping and providing a solution. @rantoniops @lukbrt did @appac's solution solved your issues?

[2020-03-22 23:51] ruisaraiva19 commented on #210
@vamsimudadla You can take a look into the [player supported parameters](https://developers.google.com/youtube/player_parameters#Parameters) documentation and see that there is no such option.

[2020-03-22 23:52] #210 closed

[2020-03-22 23:56] ruisaraiva19 commented on #202
@rdalfonso A pull request with the base type definitions was merged today. I and @tjallingt are working on migrating the codebase to TypeScript as we speak in order to make the library fully typed.

[2020-03-23 00:00] #198 closed

[2020-03-23 00:06] ruisaraiva19 commented on #194
@ScottAgirs The [IFrame Player API](https://developers.google.com/youtube/iframe_api_reference) documentation doesn't reference any option to authenticate a user in order to play private videos.

[2020-03-23 21:56] #194 closed

[2020-03-23 21:57] ruisaraiva19 commented on #189
@karolisgrinkevicius-home24 A pull request with the base type definitions was merged today. I and @tjallingt are working on migrating the codebase to TypeScript as we speak in order to make the library fully typed.

[2020-03-23 22:00] #173 closed

[2020-03-23 22:09] tjallingt opened #216 "Improve release workflow"
Releases are currently quite "loose".
I'd like to have more structure so we know when to release which version/features/fixes (tracking issue or board/project/milestone)
This should also include maintaining a changelog for example.

While I'm not yet entirely sold on fully automating releases it would be great to get started with setting up semantic release (at least changelog generation on releas

[2020-03-23 22:11] #73 closed

[2020-03-23 22:14] ruisaraiva19 commented on #216
@tjallingt I have a couple of projects with semantic releases configured. All commits follow the conventional commits specification and on each push to the release branch, a CI workflow builds the project, releases a new version (tag) and generates a changelog.

[2020-03-23 22:17] tjallingt commented on #216
Sounds great! I figured I'd create this mostly as a tracking issue (and since I'm bad at releasing stuff properly xD)

[2020-03-23 22:20] #208 closed

[2020-03-26 12:19] rorz commented on #211
As @appac pointed out, you need to use a `ref` to the player in order to control it. However, it seems like the the player is nested inside an `internalPlayer` object (within the ref) so it's not super intuitive.

I'm using hooks (if you're using classes follow @appac's solution above), and arrived at this:

[code]

[2020-03-26 22:43] ruisaraiva19 opened #218 "Improve Pull Request workflow"
One thing about the example: we currently use [GitHub pages](https://pages.github.com/) but that doesn't automatically deploy (and it been a while since it was updated).

[Netlify](https://www.netlify.com/) or [Now](https://zeit.co/) would be great to deploy to automatically and have the example be both a demo of what you can build and a nice testing fixture to click through and make sure everythi

[2020-03-30 03:27] ahmad-reza619 opened #219 "loop playerVars not working"
I added this opts

[code]

autoplay is fine and working but loop isn't. why?

[2020-03-30 03:57] ahmad-reza619 commented on #219
turns out it can be solved with this

[code]

I'll be closing this issue, but it looks like this needs some docs for the meantime.
heads up @tjallingt

[2020-03-30 03:57] #219 closed

[2020-03-31 14:37] borisowsky commented on #128
Actually using raw iframe API worked for me:
[code]

[2020-04-02 19:17] kemenyadi commented on #199
Is it not `opts`

[2020-04-02 19:23] ruisaraiva19 commented on #216
@tjallingt this is now up and running. We can close this issue now.

[2020-04-02 19:25] #216 closed

[2020-04-03 00:01] mitya777 opened #223 "Node version incompatibility"
Is it possible to support node versions greater than 12.x.x?

[2020-04-03 00:59] vitamarkovytch opened #224 "Yarn error"
error react-youtube@7.10.0: The engine "yarn" is incompatible with this module. Expected version "^1.19.0". Got "1.16.0"
error Found incompatible module.

Can't upgrade yarn to 1.19.0.

[2020-04-03 01:37] vitamarkovytch commented on #224
Upgraded yarn for this plugin:|

yarn policies set-version 1.19.0

from https://stackoverflow.com/questions/49689174/how-to-upgrade-yarn-version-using-terminal

[2020-04-03 01:37] #224 closed

[2020-04-03 07:20] ruisaraiva19 commented on #223
@mitya777 I'm going to make a PR to update the required Node.js versions.

[2020-04-03 08:15] #223 closed

[2020-04-04 03:40] franjorub opened #227 "version 7.10.0 breaks CRA production build"
Hi today I did a build in my remote server and I get this error

Failed to minify the code from this file:
remote:
remote:         	./node_modules/react-youtube/dist/index.esm.js:86
remote:
remote:        Read more here: http://bit.ly/2tRViJ9

downgrading to version 7.9.0 works again

[2020-04-04 09:24] ruisaraiva19 commented on #227
@franjorub Can you provide more details like the version of `react-scripts` you are using?

I have just created a new project with CRA, added `react-youtube@7.10.0` and it built with no problems.

[2020-04-04 09:50] itsjimbo commented on #223
this breaks node 13.x+

[2020-04-04 13:49] #218 closed

[2020-04-04 13:53] ruisaraiva19 opened #229 "make the example prettier and show code examples/installation instructions"
Follow up would be to make the example prettier and show code examples/installation instructions (anyone with design skills who wants to help out?)

This was created based on [this comment](https://github.com/tjallingt/react-youtube/pull/222#pullrequestreview-387700966).

[2020-04-04 17:27] MateuszKuba commented on #227
The problem is connected with NODE JS version. Version 7.10.0 requires NODE V12 however Version 7.9.0 required Node V10 or above, my code is breaking as well however it is because of the NODE JS version on the server not the upgrade itself

For example AWS amplify has NodeV10 in standard of their deployment

[2020-04-04 17:30] ruisaraiva19 commented on #227
A [PR is already opened](https://github.com/tjallingt/react-youtube/pull/228) for this 🙂.

[2020-04-04 20:28] franjorub commented on #227
Hi! sorry for the delay I forgot include that information in the issue,

    "react-scripts": "1.1.4",

node V12.14.1 - local
node V12.16.1 - server

both fails

[2020-04-04 22:37] #227 closed

[2020-04-04 22:46] #154 closed

[2020-04-04 22:48] ruisaraiva19 commented on #77
This was done on #222

[2020-04-04 22:48] #77 closed

[2020-04-04 23:02] #189 closed

[2020-04-06 00:37] kylemh opened #233 "Incompatible version of yarn"
I was unable to install dependencies in Netlify because they use an older version of yarn.

I HIGHLY doubt there's anything wrong with `1.16.0`, can you please remove the engine requirements for `yarn`?

I've added `YARN_VERSION` to my build envs to use a more modern version of yarn, but my upgrade was also broken last week by an engine required version of Node... then that was reverted.

Is there

[2020-04-06 08:55] ruisaraiva19 commented on #233
@kylemh I'm glad you were able to fix the Yarn issue on Netlify by adding the `YARN_VERSION` environment variable.
We require Node.js version 10 at least now because of Node.js version 8 reached the end of life on December 31, 2019.

[2020-04-06 09:16] kylemh commented on #233
Sure, I get required Node 10.x, but why specify a specific version beyond that and why specify a specific version of yarn?

[2020-04-10 00:04] brvnonascimento opened #234 "Is it possible to do lazy loading like with the iframe?"

[2020-04-10 00:22] brvnonascimento commented on #234
Here's the solution I came up with:

[code]

[2020-04-12 14:52] Ellstrom opened #235 "Working, but Errormessage in console"
Hello!
Your app is working very well, however I get an error message in the console: "Failed to execute 'postMessage' on 'DOMWindow': The target origin provided ('<URL>') does not match the recipient window's origin ('<URL>').

Do you know any workaround for this?

[2020-04-16 14:10] axe312ger commented on #233
This yarn engine requirement can break tests running in alpine linux node dockers as they might come with older yarn versions. I run into this lately as I use the following github action to run my tests: https://github.com/stefanoeb/jest-action

Is there any reason you require yarn at all for this module? Why does it not work with npm or older versions of yarn? It was working fine with an old yarn

[2020-04-16 20:48] AronWater opened #236 "comparsion of this framework vs the direct iframe provided by youtube.com"
What is the main difference?

[2020-04-16 21:34] kylemh commented on #233
@axe312ger I use yarn to install dependencies. I was on some slightly older version and it prevented me from installing the dep in CI and locally until I upgraded.

[2020-04-16 21:36] kylemh commented on #233
@ruisaraiva19 I feel like you should remove the requirement for a specific version of yarn. I doubt it affects local development.

[2020-04-16 21:43] #233 closed

[2020-04-17 06:08] xoxwgys56 commented on #235
same here.
in my case

The target origin provided ('https://www.youtube.com') does not match the recipient window's origin ('http://localhost:3000')

[2020-04-17 06:16] xoxwgys56 commented on #235
i am using ReactJS

they said it is https issue.
https://stackoverflow.com/questions/27573017/failed-to-execute-postmessage-on-domwindow-https-www-youtube-com-http
hope it help you.

by the way i don't know how can i change https on localhost.

[2020-04-21 05:30] florianuphoff commented on #211
Interesting solution @rorz 👍

I'm using `react-youtube` with TypeScript but the `internalPlayer` does not exist on the exported type `YouTube`. It still works but it does not bundle.

![Screenshot 2020-04-21 at 07 29 55](https://user-images.githubusercontent.com/33223518/79828865-f4e76480-83a1-11ea-8ee8-704cb2acff19.png)

I'm going to create a PR to add the internalPlayer to the exported types. Ho

[2020-04-21 16:40] cjmaria commented on #235
Same issue here, this is occurring on my localhost. Will update to see if the issue persists when I push changes to a hosted HTTPS site.

[2020-04-22 12:30] axe312ger commented on #233
Thank you! <3

[2020-04-30 19:33] josuablejeru opened #242 "How to make the Iframe responsive?"
# Responsive Iframe
Hi first I want to thank you for your work, it has really an easy api to work with!

**Here my question:**
I had a really hard time try to make the iframe responsive on mobile and desktop. Did anyone have an Idea how we could implement a autoresize feature to this Component so you can make it responsive by a prop?

(If it is not possible... can anyone give me a hint how to make

[2020-05-05 06:53] redshoga commented on #242
It could be implemented by using `containerClassName` props.

[code]

[code]

[2020-05-06 18:56] josuablejeru commented on #242
@redshoga Thank you for taking the time to answer my question!

[2020-05-10 20:08] fabioginzel commented on #235
+1

[2020-05-15 12:12] digvijayu opened #243 "TypeScript Error:node_modules/react-youtube/index.d.ts:57:26 - error TS1039: Initializers are not allowed in ambient contexts."
![image](https://user-images.githubusercontent.com/7867644/82049026-f6acfb00-96b5-11ea-8fe8-e4ba8fa89799.png)

Versions:
"react-youtube": "^7.9.0",
"typescript": "^3.7.5"

[2020-05-21 16:04] jDeppen commented on #184
This won't remove "More videos" but it will only show videos from the same channel
[code]

[2020-05-31 16:39] randak commented on #211
Rather than using a ref, you can store the value of the `onReady` function in state as a kind of callback. After that, you can use `video.playVideo()` and other functions as expected.

[code]

[2020-06-05 13:37] pablitogo commented on #243
Has this been release? I'm still seeing the issue on version 7.11.2

[2020-06-05 13:39] MonkeyDo commented on #243
@pablitogo Not yet. I'm following PR #241 for updates.

[2020-06-09 06:24] waynelau commented on #109
Thanks for raising this issue. I had been debugging for a bit and thought it was a problem in my own app until I found this issue. I tried debounce but it didn't seem to consistently work even with long thresholds set (e.g. I tried values from 1000ms to 5000ms) as the second onEnd event would sometimes arrive afterwards when a new video had already been queued up causing it to stop.

[2020-06-14 21:33] robinleboe-sw commented on #235
+1

[2020-06-14 23:46] charach opened #245 "It automatically switches to full-screen mode when I click a video on the iphone"
When you I click on a video in the version of the iPhone SE (13.5.1), it automatically moves to full-screen mode and plays.
Can I stop this conversion? (It works normally on Android. )
Also, the full-screen mode is executed when using the function seek().

[2020-06-16 10:31] lejonmanen opened #246 "Fix SameSite cookie warning in Chrome"
The Chrome web browser recently changed its behaviour regarding cookies. This causes the console to display warnings when using react-youtube. It may possibly break parts of react-youtube in future versions of Chrome and other browsers.

To the best of my knowledge, this is either an issue with using an old YouTube API; or needing to update to cookie-setting functions.

Video explaining the basics

[2020-06-19 15:03] claudiopedrom commented on #245
@charach try to add:
[code]

[2020-06-20 01:11] dancancro opened #247 "Why does the player reset when only the dimensions have changed?"
If I pass in `opts.width` and `opts.height`, and they change while the player is playing, the player completely resets. I [modified the code](https://gist.github.com/dancancro/f239923fd247b8aaca054602644fff12) to keep this from happening and it works fine. Was there some rationale behind having it work this way?

[2020-06-21 07:25] charach commented on #245
Thank you! I  close this issue.

[2020-06-21 07:25] #245 closed

[2020-06-30 10:19] anurbecirovic commented on #235
+1

[2020-07-05 07:16] ashteya commented on #235
I had the same error, fixed it by setting `origin` to `window.location.origin` as suggested in one of the answers here: https://stackoverflow.com/questions/27573017/failed-to-execute-postmessage-on-domwindow-https-www-youtube-com-http

[code]

[2020-07-06 10:49] anurbecirovic commented on #235
@ashteya Still the same console error :/

[2020-07-07 07:23] iiiok commented on #242
@redshoga got a real good solution for this component.
I tried useFre, ReactDOM.findDOMNode, node.getBoundingClientRect().width. Node of them works for me.

CSS solution rocks!

[2020-07-21 07:37] anaelChardan commented on #243
Hi, I'm encountering this error as well!

[2020-07-21 22:08] ruisaraiva19 commented on #243
@digvijayu @pablitogo @MonkeyDo @anaelChardan You can test if this is fixed with the release [v7.11.3-canary.1](https://github.com/tjallingt/react-youtube/releases/tag/v7.11.3-canary.1).

[2020-07-29 19:06] Wmitrut commented on #211
Ok, @florianuphoff I find a solution... If I use `useRef ` like this with typescript:

` const playerRef = useRef<any>();`

and then call my method:

` playerRef?.current?.internalPlayer.stopVideo();`

----

I know it is not the best one but worked fine for me.

[2020-08-04 16:17] JorgeSivil opened #252 "Video ID for 'pause' event when changing ID prop is the new one, instead of the past one"
Steps to Reproduce:

Have 1 YouTube component, pass the VideoID.

Have a function that OnClick changes the VideoID to another.

You can see that the "pause" event gets fired for the new video ID instead of the previous video ID.

![image](https://user-images.githubusercontent.com/12187148/89318951-e1f95700-d655-11ea-8238-8ba797475088.png)

[2020-08-04 19:44] JorgeSivil opened #253 "Unstarted (-1) event not firing for the initial video."
If you have a video, and click on the starter (like an image), the event 'Played' is catch but not the 'Unstarted'

It is fired when you change the video ID tho.

I did this in vanilla javascript and it fires everytime, so I guess there's a bug somewhere.

Work around is to consider the "onReady" as "unstarted", as the onReady will fire only once the first time. A bit hacky tho.

[code]

[2020-08-15 03:09] izbpletsch opened #254 "Livestream permanent link embed"
I want to embed a livestream using the permanent livestream link, that is "https://www.youtube.com/embed/live_stream?channel=CHANNELID". Unfortunatelly, everytime i try to do this i get the message "unavailable video". What can i do?

[2020-09-03 12:11] jimmynames commented on #197
you guys use hooks?

[2020-09-09 19:47] XzaR90 opened #260 "As today it seems like the event is not triggered."
As today it seems like the events is not triggered.

OnReady event is not firing at all. Does it have to do with same site cookie policies?

[2020-09-16 18:52] kimchouard commented on #260
+1, same here events (onReady, onStateChange, etc.) are not trigerring.

[2020-09-16 18:57] kimchouard commented on #260
@XzaR90 seems like the timing of your comment aligns with a Youtube Data API release (see [revision history for Sept. 9](https://developers.google.com/youtube/v3/revision_history)). But I don't anything in their list that would compromise the iframe events 🤔

[2020-09-17 00:50] jpbretanha commented on #260
+1

[2020-09-17 10:05] XzaR90 commented on #260
Ahh okey, I does seems to work in old edge browser, have not tested with Firefox.

[2020-09-20 08:59] #260 closed

[2020-10-08 22:16] ozenesat opened #263 "Play / Pause Video"
I was wondering if there is a way to pause and play the video while the user interacting with some other stuff on my page. Mute / Unmute works too. I couldn't find an ideal callback for it, but if anyone knows a way, I truly appreciate it.

[2020-10-20 11:44] Salemoche opened #267 "Cannot add property events, object is not extensible"
I'm using a very basic setup with functional components.
The error occurs when calling the component
<img width="990" alt="Screenshot 2020-10-20 at 13 42 34" src="https://user-images.githubusercontent.com/15328313/96581583-50a39380-12da-11eb-96c8-78cb5b82fcf7.png">

[2020-10-21 03:25] silnose commented on #180
:( * 2

[2020-10-25 07:20] jrajav commented on #263
@ozenesat Yep, it's possible by using the element reference itself from the onReady callback - see the official example to see one way to do it: https://github.com/tjallingt/react-youtube/blob/master/example/example.js

[2020-10-25 07:24] jrajav commented on #236
@AronWater There basically isn't any difference. This is essentially a React wrapper around https://www.npmjs.com/package/youtube-player, which itself is just a nicer interface and loader around the official iframe and its player API. When this component (react-youtube) is instantiated, it'll result in a normal Youtube iframe on the page.

[2020-10-27 05:31] ozenesat commented on #263
ty @jrajav !

[2020-10-27 05:31] #263 closed

[2020-12-11 14:20] atiqaakhan opened #270 "Thumbnail"
I want to display the thumbnail in the youtube video lists. Is there any props for that like url etc?

[2020-12-15 11:01] shahab-k opened #271 "leaving fullscreen"
Is there any option for leaving fullscreen.
When I leave fullscreen, I want to redirect the page. Is it possible?

[2020-12-15 11:09] atiqaakhan commented on #271
I have the same issue.

[2021-01-23 20:46] pravosleva opened #274 "How to add time point as prop?"
Hello. Anybody help me?
Or maybe this should be feature request?

[2021-01-24 11:00] ruisaraiva19 commented on #274
@pravosleva you can use the [`start`](https://developers.google.com/youtube/player_parameters#start) property inside the `playerVars` options property.

[code]

[2021-01-24 11:11] ruisaraiva19 commented on #271
@shahab-k @atiqaakhan there is no option available on the Youtube Player API to know when the fullscreen state changes but you [can detect](https://stackoverflow.com/a/43322280) when the browser [full-screen change](https://developer.mozilla.org/en-US/docs/Web/Events/fullscreenchange) and then add your custom logic.

[2021-01-24 11:14] ruisaraiva19 commented on #270
@atiqaakhan can you provide more context on this topic? Any screenshots would be helpful.

[2021-01-24 11:17] ruisaraiva19 commented on #267
@Salemoche can you provide more context to this issue? Knowing which version of react-youtube is being used and the tool that is reporting the `TypeError` would be helpful.

[2021-01-24 11:22] ruisaraiva19 commented on #254
@izbpletsch The YouTube Player API only supports referencing videos by the `videoId` property, so permanent links aren't supported.

[2021-01-24 11:44] ruisaraiva19 commented on #253
@JorgeSivil Can you provide more context on what version of react-youtube you're using?

I created the following [sandbox](https://mvegp.csb.app/) and looks like every player state is being triggered as expected.

https://user-images.githubusercontent.com/7356098/105629002-58725700-5e38-11eb-98a8-4c4c5dcfa584.mp4

[2021-01-24 11:49] ruisaraiva19 commented on #252
@JorgeSivil This behavior is from the YouTube Player API itself on not something manipulated by the react-youtube component code.

[2021-01-24 11:57] ruisaraiva19 commented on #247
@dancancro I don't think there is a rationale behind having `opts.width` and `opts.height` triggering a player reset. @tjallingt please let us know if you disagree.

@dancancro Can you open a PR with this small change 🙏 ?

[2021-01-24 12:20] #234 closed

[2021-01-24 12:27] #274 closed

[2021-01-24 13:35] ruisaraiva19 commented on #213
@LRharlekin looks like you are using an incorrect property inside of the `loadPlaylist` method parameter. On the official documentation, when using the object syntax, you can pass the playlist via the `list` property instead of `playlist`.

<img width="826" alt="CleanShot 2021-01-24 at 13 32 14@2x" src="https://user-images.githubusercontent.com/7356098/105631937-cde62380-5e48-11eb-86ee-4424ad59d3b

[2021-01-24 13:44] ruisaraiva19 commented on #212
@JoshuaKGoldberg Thank you for providing the context for this issue.

I think adding a new prop `iframeProps` would be a nice way to provide this functionality without introducing breaking changes. Also, the name can be more specific by being called `iframeAttrs` but either way it's fine.

Feel free to open a pull request with the `iframeProps/iframeAttrs` prop added. 😉

[2021-01-24 13:45] #211 closed

[2021-01-24 13:47] #202 closed

[2021-01-24 13:50] ruisaraiva19 commented on #201
@MichaelDimmitt you can check out [this comment](https://github.com/tjallingt/react-youtube/issues/242#issuecomment-623885531) with a solution for making the iframe responsive.

[2021-01-24 13:51] #199 closed

[2021-01-24 13:56] #192 closed

[2021-01-24 13:58] #187 closed

[2021-01-24 14:05] ruisaraiva19 commented on #169
Looks like this isn't a problem anymore.

[2021-01-24 14:05] #169 closed

[2021-01-24 14:10] #164 closed

[2021-01-24 14:12] #146 closed

[2021-01-24 16:03] tjallingt commented on #247
If we can avoid resetting we definitely should, probably never encountered this issue because I usually set width and height to 100%

[2021-01-24 18:21] MichaelDimmitt commented on #242
@josuablejeru , is this issue ready to be closed?
Or is there something still pending?

[2021-01-24 18:23] MichaelDimmitt commented on #201
@ronenmagid , consider looking at https://github.com/tjallingt/react-youtube/issues/242 as ruisaraiva19 mentioned
#242

[2021-01-24 19:06] ruisaraiva19 commented on #242
@MichaelDimmitt the comment above from @redshoga works as expected. This issue is style related and doesn't concern YouTube Player API.

[2021-01-24 19:51] dancancro commented on #247
I can do a pull request but I'm stuck. My editor, VSCode, is removing spaces after "if"s and "switch"es. How do I get my editor, VSCode, to not automatically apply eslint fixes on save? This code in `.vscode/settings.json` isn't doing it...
[code]

[2021-01-24 23:03] ruisaraiva19 commented on #247
@dancancro you can save changes without formating your code by running the VSCode command called `File: Save without Formatting`.

[2021-01-24 23:12] dancancro commented on #247
I don't know how to run a VSCode command. I see menus and menu items that I can click. I don't see a menu item for saving without formatting.

[2021-01-24 23:19] ruisaraiva19 commented on #247
You can run "Command + Shift + P" to open the Command Palette and type "save without" until you see "File: Save without Formatting" command and use that.

[2021-02-07 23:23] TheManFromEarth1 opened #280 "401 unauthorized Post (NextJS)"
Normal embed works (without library but ifame).

With this library I get:
[Screenshot of unauthorized error](https://i.imgur.com/FWQmNQx.png)

If I try to open the link directly, it works. So it blocks the request from localhost somehow.

Has YouTube changed their terms and allows now only paid access with your own API key?

[2021-02-08 22:57] TheManFromEarth1 commented on #280
Sorry my fault.

I have the extension Privacy Possum which blocked the request.

[2021-02-08 22:58] #280 closed

[2021-02-10 12:27] mattwoodage opened #281 "video doesn't show occasionally"
Reload a page with a video embed on 20 times and a couple of times the video will not appear
The iframe exists in the page and has the same shape as the video but its body has no content so it's blank.  No video element.
The iframe tag has a data-src attribute.
The stage that changes data-src to src has not happened.

Anyone experienced this or found a solution please?

[2021-02-12 10:51] jawil003 opened #282 "How to play x Videos with start and end after each other?"
I tried to use your Wrapper to play a custom local Playlist, where every video should be played fully or with x second - y second of the full length. I tried to use the `playerVars` but it seems like the `end` property is not used correctly (video plays to then end of full video)

I tried to use `cueVideoByUrl()` this to add new Videos, but I think maybe making the `youtubeIds` and `begin`/`end` a

[2021-02-12 17:52] jawil003 commented on #282
End Function works when use a React State for them. So the Question got answered :D

[2021-02-12 17:52] #282 closed

[2021-02-13 10:08] jawil003 opened #283 "When I update the secondsStart and secondsEnd I got this.h is null Error from underlying YouTube Code"
Hey everyone, I really like your implementation of a small lightweight wrapper around the YT.Player API, but somehow an Error is going through the handling System and I don't know why I get this.

![image](https://user-images.githubusercontent.com/47473728/107847378-4bb7a200-6deb-11eb-8628-94db3920c796.png)

[code]

[2021-03-07 20:52] dancancro commented on #247
How do I fix this pull request? It's complaining about the format of the commit message of a previous commit.

[2021-03-08 14:47] Kappyh opened #285 "Add the widget_referrer parameter"
Hi,

I like to the **widget_referrer**  parameter to the youtube component, the parameter is responsability: "Defines the URL to count as the traffic source for the video in YouTube Analytics instead of the browser location."

We need that for metrics.

[2021-03-08 15:06] #285 closed

[2021-03-08 15:25] Kappyh commented on #183
@khawerrind yes, sometimes works and sometimes not.
But I can't understand the reason, I'll try see that later today.

[2021-03-09 01:13] Kappyh commented on #183
@khawerrind You already tried to config the origin with value: `window.location.href` ?
Its working for me

[2021-03-13 11:25] #247 closed

[2021-03-19 09:37] zoonii opened #287 "option of z-index?"
How do you change the z-index in react youtube? I look around on stack overflow and couldn't find anything

[2021-03-23 08:21] greatwaldini opened #288 "Possible to access the onError identifier sent from YouTube?"
Maybe I'm just missing something entirely but I don't seem to be able to get back the onError codes that YouTube's API is supposed to return:

Is it possible to retrieve these?

[2021-04-04 19:38] withewolf-dev opened #290 "onskip just like onplay and onpause"
Sometimes we need to keep track of if the user skipped the video. Having a callback function onskip like onplay would help

[2021-04-25 19:44] difaananda40 opened #291 "How to make the iframe lazyload?"

[2021-05-18 02:20] cyruslk opened #297 "How To Hide Related Videos?"
Is there a way to add related videos that appear on pause?

Thanks a lot in advance and immense gratitude for this package.

[2021-05-19 15:03] isaacking5 opened #298 "Prevent navigation to YouTube Application on clicking title Link on the Player using sandbox iframe attribute"
## Description
Our use case is to prevent navigation to the YouTube application on clicking the video title link. I couldn't find any relevant standard solution for this in the YouTube iframe API reference too.

On googling, I got to know that we can achieve this using an iframe sandbox attribute. However, react-youtube does not accept any sandbox attribute.

But, as we could use the iframe tag in

[2021-05-26 08:13] haro-rokki opened #300 "getInternalPlayer return any"
When I use getInternalPlayer, it return any.
Therefore, I need to install `@types/youtube-player` after installing react-youtube.

I think `@types/youtube-player` should be in dependencies in package.json.

[code]

[2021-05-28 16:05] bscaspar opened #301 "Question: Embedding YT channel, different channel name types?"
This is not an issue with this library, which has worked great, but I am running into an odd issue with Youtube channel names that I'm hoping someone here with more expertise than myself might be able to help with.

It appears as though some channel names do not work for embedding a channel, but the url format appears the same as with channel names that are embeddable. For example, embedding the c

[2021-06-03 07:10] klausbreyer opened #302 "ios safari: Failed to load resource: The network connection was lost."
I am puzzled. On ios safari I get: Failed to load resource: The network connection was lost.

First the video is spinning for a while, then this error is displayed.

I just embed it like: `    <YouTube videoId={id} />`

![grafik](https://user-images.githubusercontent.com/32771/120602221-1cd14480-c44b-11eb-9c4d-ddfe73e23021.png)

it is reproducable. I have it publicly deployed in a betaversion of a

[2021-06-03 07:33] klausbreyer commented on #302
Seems to only happn for unlisted videos.

[2021-06-03 07:56] klausbreyer commented on #302
youtube settings regarding kids content i think.. sorry!

[2021-06-03 07:56] #302 closed

[2021-06-24 10:35] bocanhcam opened #304 "How to stop another videos when current video is playing"
I have multiple videos on a page.

When I play first video then second video.

Both are played.

I want to stop first video while playing second video.

Can any one help. please! Thank you!

[2021-07-12 08:38] oksimilk commented on #304
I ran into a similar problem and could not find the api in the current package

My solution is to use `internalPlayer.pauseVideo()`

First, create a stack and store the current video id in it
Then we access the player via ref
Check if the current video id value has changed, and if so, stop player.current.internalPlayer.pauseVideo()

[2021-07-17 10:53] chaitanya71998 opened #305 "Not triggering video statechange events some times"
Few times 'onStateChange' event is not firing.

When I first open my application and opening the Video page and changing the states of video, the **onStateChange** event is not triggering, but later reloading that particular page then all state change events are firing properly.

code used:
`

 <Youtube
               id={playerId}
               videoId={youTubeId}
               onReady={this.on

[2021-07-23 10:10] #304 closed

[2021-08-06 01:30] michaeltnguyen commented on #297
I don't believe this is possible: https://developers.google.com/youtube/player_parameters#rel

[2021-09-13 14:25] RobinLans opened #311 "How do you use the onEnd method?"
I have been doing something like this and nothing happens
`
function YouTubePlayer(props) {

        function endTheVideo(e) {
            console.log(e.target);
        }

        return (
            <div>
                <YouTube
                    opts={opts}
                    onReady={startVideo}
                    ref={videoPlayer}
                    onEnd={(e) => {

[2021-09-17 11:31] tejas-vora commented on #281
I was facing the same issue,by removing playerVars in opts function it now works properly

const opts = {
    height: "390",
    width: "640",
    // playerVars: {
    //   autoplay: 1,
    // },
  };

[2021-09-24 13:05] Saidfatah opened #314 "YouTube player resets on device orientation change"
when the device orientation changes from landscape to profile and vice versa the YouTube player resets .
Is there a way to get around this if not can it be patched soon . thanks in advance .

[2021-09-30 14:04] borisrorsvort commented on #185
As mentioned in https://axbom.com/embed-youtube-videos-without-cookies/, the no-cookie mode still stores a local storage device id that is, without consent, non gdpr compliant.

[2021-12-06 20:49] SigSov commented on #300
@harokki I faced the same issue, but in my case getInteralPlayer actually returns undefined. There's a property internalPlayer that seems to be correct player ref, but TS complains that there's no such type on 'YouTube' (exists in runtime ofc). Does in your case getInternalPlayer return correct object? I ended with ts-ignore and using property internalPlayer

[2021-12-06 23:23] ynifamily3 opened #316 "Player interaction issues during autoplay:1"
When 'autoplay: 1', if autoplay is not possible due to browser policy, etc., the player blinks twice and can only interact with a part of the Youtube screen (the Youtube icon in the center and the play button at the bottom)

to-be: It should be playable by clicking anywhere on the Youtube screen.

[2021-12-09 17:14] santi020k commented on #254
Any update regarding this? I need to do this, but I can't find the way.

[2021-12-31 17:40] crysfel commented on #242
@redshoga your css solution works great, thanks!!

[2022-01-11 19:40] panchicore commented on #177
how did you do @walkerreynolds16 ?

[2022-01-12 16:40] laurencefass opened #322 "Support for resolving cross origin errors?"
I'm getting an cross-origin errors:

[code]
Given that everyone using this is not going to be running from from the windows origin I assume this is a bug? Is there any cross origin configuration for this package?

edit: as a quick test I tried loading a react-youtube video alongside a react-player. The latter loads fine with no cross origin errors.

[2022-01-13 18:55] laurencefass commented on #322
I think this is more a problem with an experimental version of Next JS than your package.  I have reverted back to stable version and working fine.

[2022-01-13 18:55] #322 closed

[2022-02-28 03:29] ynifamily3 opened #324 "Due to recent update, player unconditionally resets when videoId changes."
Recently, when updating from version 7.13.1 to version 7.14.0, a phenomenon in which the player is reset whenever the videoId is changed has been found and reported.

It's usually fine to reset the player when the videoId changes, but you might not want to reset the player. If you say it's okay to put a flag that determines whether or not to reset the player as the videoId changes in props, I'll p

[2022-02-28 14:45] bdefore commented on #185
If the `https` schema is not provided (i.e. providing a `host` of `//www.youtube-nocookie.com`), `onEnd` and potentially other handlers do not fire.

[2022-02-28 15:37] borisrorsvort commented on #185
What would be nice is to implement something like that:

![](https://axbom.com/content/images/2021/03/youtube-consent-cookies-tracking-video-2.png)

[2022-03-07 16:48] liuweiming1997 commented on #191
HI bro, does anyone knows how to `getCurrentTime` at each frame? just like the HTML5  `<Video />` method: `ontimeupdate`. Thanks all. I don`t see any method to achieve it.

[2022-03-08 09:25] 42x42x42 commented on #191
https://developers.google.com/youtube/iframe_api_reference#Playback_status check this,a lot of time has passed since I worked with it and don't remember details

[2022-03-08 09:28] liuweiming1997 commented on #191
[correct me if I am wrong] I think this is not a callback method, so it can`t feedback the current_time to our page correctly.

[2022-03-16 20:50] dross15 opened #325 "Please upgrade react & react-dom to latest version, 17.0.2"
I am currently blocked from upgrading to the latest version of Next.js because it relies on at least react 17. It would be great if you could update react & react-dom to the latest version, 17.0.2. I tried to put up a PR myself, but got permission denied when trying to push the changes.

[2022-03-23 14:37] paullewisn commented on #188
Exactly the same problem here, using webpack and nextjs.

[2022-03-23 16:41] paullewisn commented on #188
The problem thrown up with nextjs is due to severside vs clientside execution of `fs` (and others). This fixes it in `next.config.js` but it was met with some abrasion in PR:

[code]

[2022-03-25 09:26] Nefcanto opened #326 "e.target.playVideo() works intermittently"
I'm using your library to play YouTube videos. I'm using it inside a next.js app.

Here's my code:

[code]

The problem is that, when I use `e.target.playVideo()` inside `onStateChange`, sometimes it works and sometimes it does not work.

I tried to create an interval to check the player state. But when it does not play the video, player state always returns -1. Even when I can clearly see that th

[2022-03-25 13:06] Nefcanto opened #327 "autoplay not working"
I used your sample and autoplay is not working. I'm using next.js.

Here's a simple [codesandbox](https://codesandbox.io/s/brave-bush-5bj6xd?file=/pages/index.js) using your example.

I have this error in my console:

[2022-03-25 16:17] PL47productions opened #328 "Support for youtube-nocookie and privacy mode"
I have tried changing the url in loadYouTubeIframeApi to youtube-nocookie, but it disables the entire player.

Is there another way to enable privacy mode?

[2022-03-27 13:24] KevTiv commented on #327
`
export default function IndexPage() {
  const opts = {
    height: "390",
    width: "640",
    playerVars: {
      // https://developers.google.com/youtube/player_parameters
      autoplay: 1,
      mute: 1
    }
  };
`
Adding "mute: 1" in playerVars obj worked for me. I think it's from the YouTube API side, but I'm not sure.

[2022-04-01 17:47] RamboGj opened #329 "Problem with opts"
I'm getting a problem when first rendering my component, I didn't get the error on my opts
![Screenshot_1](https://user-images.githubusercontent.com/64593022/161315688-7a56370d-0d1a-46fa-9672-0584073d19cc.png)
![Screenshot_2](https://user-images.githubusercontent.com/64593022/161315692-9fb43e4e-1282-424d-853c-8354d24bb6c5.png)
.

[2022-04-05 07:51] Abdelalim-dev commented on #297
As @michaeltnguyen said, you cannot disable them.
They used to be disable-able in the past but Google changed that. Now you can only limit the related videos to the same channel of the video playing (rel=0)

[2022-04-07 12:40] kkovax25 commented on #329
I have the same issue. However if I give them directly into the opts as an object it seems to work as a temporary workaround.

[2022-04-08 13:03] MarinaGoto opened #330 "Please upgrade react & react-dom to latest version, 18.0.0"

[2022-04-10 20:45] #325 closed

[2022-04-12 13:25] borisrorsvort commented on #328
dupe of #185

[2022-04-13 14:58] esetnik opened #343 "onReady event target type is wrong after v8.1.0"
[code]

[code]

[2022-04-14 06:57] #343 closed

[2022-04-14 10:21] ruisaraiva19 commented on #343
@esetnik Can you try using the latest [version 8.2.1](https://github.com/tjallingt/react-youtube/releases/tag/v8.2.1)?

[2022-04-14 14:05] esetnik commented on #343
@ruisaraiva19 looks great thanks!

[2022-04-14 14:52] ruisaraiva19 commented on #343
@esetnik Awesome! 🎉

[2022-04-19 21:22] francescocaveglia opened #346 "Type 'string' is not assignable to type 'undefined' on `loading` attribute"
I'm getting this error when using `loading="lazy"`

[code]

The error seems caused by:
https://github.com/tjallingt/react-youtube/blob/f35e444529482668f9e2fe0461595f64b4389cd6/packages/react-youtube/src/YouTube.tsx#L157

[2022-04-22 17:58] djohalo2 opened #347 "Title prop is not initially set"
Passing a `title` prop to the `YouTube` component renders the default 'YouTube video player' title even if a the prop is passed initially. It does seem to work through a workaround with `useEffect`, triggering an update causing the title to be properly set.

This is unexpected behavior as it should also set the title without the prop having to update, right?

[2022-04-23 13:22] djohalo2 commented on #347
@ruisaraiva19 Was about to submit a PR for it, but you beat me to it! Thanks for picking this up so quickly 😄

[2022-04-25 09:54] #346 closed

[2022-04-25 09:54] #347 closed

[2022-04-25 21:39] timsofteng opened #351 "CORS error"
Hello.
I've faced up with cors error during local development. Should it work if my domain is `localhost`?

[2022-04-28 00:22] feridinha commented on #99
+1

[2022-04-28 13:45] TomSmedley commented on #351
I'm also getting this error, I'm unsure when it was introduced since this is my first time using it.
[code]
It should be using `//www,youtube.com` without the `https:` to prevent this.

[2022-04-28 14:12] ruisaraiva19 commented on #351
This is something that the YouTube IFrame Player API does by itself and we don't have control over it.

[2022-05-04 19:57] konradbjk opened #354 "css class param is not passed to iframe"

[2022-05-04 22:51] ruisaraiva19 commented on #354
@konradbjk version 9 introduced a breaking change.

In order to pass a class to the iframe, you need to use the `iframeClassName` prop instead of the `className` prop.

[2022-05-10 08:32] iamgoddog commented on #351
Also facing this, just updated to React  and nextjs 12.1.
This started happening after the update. Did `YouTube IFrame Player API` change recently to enforce this to your knowledge @ruisaraiva19?

[2022-05-13 03:46] ErickHilario-IndraCompany commented on #351
Same error

[2022-05-15 12:55] c0ncentus commented on #351
env
localhost
react 17.02
Mozilla 100

When investigating in console, all request are 200
but error CROS ORIGIN

hope it works in url online : / ...

[2022-05-21 09:37] lofti198 opened #355 "Youtube component disappearing immediately after page loads"
Youtube component is very cool, but disappearing immediately after page loads. Tested with example from here https://github.com/tjallingt/react-youtube . What can be the reason?

[2022-05-22 00:01] avganka commented on #355
II had the same issue. The reason is the changed rendering of react 18. Need to wait for an update or use the old method

`import ReactDOM from 'react-dom';

ReactDOM.render(
  <React.StrictMode>
    <App/>
  </React.StrictMode>,
  document.getElementById('root'));`

instead of
`import ReactDOM from 'react-dom/client';

const root = ReactDOM.createRoot(document.getElementById('root') as HTMLElemen

[2022-05-22 02:48] lofti198 commented on #355
Thank you! It works just fine!

[2022-05-22 03:20] lofti198 opened #356 "How can I play/pause video programmaticaly (by click of a button) and get the timecode?"
I need to play/pause video by button click (without event access  like the one we get in onready). Also I need to get the current time being played
![image](https://user-images.githubusercontent.com/42960488/169676823-bac443af-5f2a-426a-a8c7-531f650da2cc.png)

How can I do that? Thank you in advance!

[2022-05-23 17:40] Minhaj-T commented on #351
The video player gets displayed for a short amount of time but then hide this

[2022-05-23 22:46] ruisaraiva19 commented on #351
@Minhaj-T what version of React are you using?

[2022-05-24 19:44] konradbjk commented on #246
it is same now on firefox

[2022-05-25 11:33] #355 closed

[2022-05-25 22:18] ruisaraiva19 commented on #355
@lofti198 @avganka can you give version [9.0.2](https://github.com/tjallingt/react-youtube/releases/tag/v9.0.2) a try? It should work with React 18 new strict mode.

[2022-05-26 15:25] avganka commented on #355
@ruisaraiva19 yeah, thank you! Checked. Works great

[2022-06-03 19:50] empm0ney commented on #351
Same issue

[2022-06-08 17:02] VictorHugoZB commented on #351
I'm also getting this error.

[2022-06-23 21:09] ryankashi commented on #288
Any updates on this? I am receiving the same issue.

[2022-06-26 07:37] ruisaraiva19 commented on #288
@greatwaldini @ryankashi you can use the `onError` prop to handle error events. The error code can be retrieved from the event `data` property like:
[code]

[2022-07-24 14:38] GabrielCastilhoV commented on #356
Hello Lotfi, I created an example to play/pause using an external button.

I hope I helped, any questions I'm at your disposal

https://codesandbox.io/s/runtime-hill-c77o1v?file=/src/App.tsx

[2022-07-29 17:22] lofti198 commented on #356
Gabriel, thanks a lot!!! Just one follow-up:
is there any way to find out (is video running or not at the moment)? Just for the case user instead of clicking my button is using Youtube controls to switch play/pause?

[2022-07-29 19:39] lofti198 commented on #356
Another interesting thing - how can I hook the particular timepoint of the video? I mean - can I catch event, when user is watching the particular timepoint of the video?

[2022-07-30 01:41] HialeahLiam opened #367 "Failed to load resource in Safari when "Prevent cross-site tracking" is turned on."
YouTube vides aren't able to load when the option is turned on in preferences.

<img width="786" alt="image" src="https://user-images.githubusercontent.com/36059197/181865411-4770a3cd-c54f-4b11-baf7-dbcc13f3aba4.png">

Errors:

<img width="441" alt="image" src="https://user-images.githubusercontent.com/36059197/181865424-701e7154-0044-4b96-8ffc-7c9d626a93e6.png">

[2022-07-30 15:26] GabrielCastilhoV commented on #356
@lofti198 I updated the code in the sandbox, added these functionalities:
- Current time when pause/play video;
- Current time in real time
- Get video status in real time

https://codesandbox.io/s/runtime-hill-c77o1v?file=/src/App.tsx

[2022-07-30 15:27] GabrielCastilhoV commented on #356
In case you need something more precise, you can shorten the break time (line 81)

[2022-07-30 17:51] lofti198 commented on #356
Oh that is completely cool example! Thank you! Can I somehow donate to thank you?

[2022-07-30 17:59] lofti198 opened #368 "Getting error trying to launch playVideo after onready fired"
Please check my code. This is very simple component containing just Youtube component. If I add button and launch video - it works completely OK. However I'm getting error trying to launch playVideo right after onready fired:

https://codesandbox.io/s/green-thunder-6omczn?file=/src/components/YoutubeErrorOnStart.js

Any ideas how to fix that?

[2022-07-31 04:29] lofti198 commented on #368
On another related question here - what is the best practice to switch videoId (I mean to change current video for the component)? I mean that changing videoId property itself is not enough, because we need again to wait for player to become ready, and we again face the same issue I described before.

[2022-07-31 13:50] GabrielCastilhoV commented on #356
You were the first person I helped on github :)

If possible follow me here on github, I want to improve my network

[2022-08-21 08:36] ashigirl96 opened #369 "Script fails to load with react 18"
Using React 18 I get the following error, using React 17 I don't get the following error.

[code]

When I use React18, this `iframe` will be `null`

https://github.com/tjallingt/react-youtube/blob/a816528020e6db532ba2239351ed5181d93c29fe/packages/react-youtube/src/YouTube.tsx#L365-L367

[2022-09-01 09:23] Sneha-Narendran opened #370 "onPlay, OnPause events do not get triggered occasionally"
**Observation:** After integrating the react-youtube player, we observed that the onPlay and on Pause events seldom do not get triggered.
We had put a simple console log statement to test this and we did not receive them.
However, this is a flaky behaviour. i.e we observe it few times only.

We checked this in multiple browsers like brave, chrome and safari(latest versions). We observed the same b

[2022-09-05 14:49] lofti198 opened #371 "How to take screenshot from Youtube video"
How to take screenshot from youtube video for instance with html2canvas? Trying this code:
`html2canvas(document.querySelector("#player")).then(function (canvas) {
      document.body.appendChild(canvas);
    });`

However getting null from querySelector . Any ideas? Thank you in advance!

[2022-09-08 11:06] karolisgrinkevicius-home24 opened #372 "Google Lighthouse complaining about usage of deprecated APIs"
Recently when running Lighthouse test we started receiving warnings from this library third party dependencies saying that it uses deprecated APIs.

![Screenshot 2022-09-08 at 14 03 05](https://user-images.githubusercontent.com/46492012/189106567-6135241e-757b-48b1-8f4a-07baed55a451.png)

This was captured in one of our CI jobs failing, specifically using [ligthouse](https://www.npmjs.com/package/

[2022-09-09 07:39] lofti198 opened #373 "How can I make video keep playing when phone screen being blocked?"
I use component in my webapp from mobile. However when screen is blocked, the video pauses. Any ideas how to avoid this?

[2022-09-10 07:02] ruisaraiva19 commented on #373
@lofti198 not sure what you mean by "screen is blocked", can you elaborate a bit more, please?

[2022-09-10 12:33] Besuf commented on #326
It's properly working for me. The only difference is I don't use window checker to render the component. and Also I've attached onReady event handler that plays the video.

[2022-09-11 07:25] lofti198 commented on #373
Just when the screen gets locked when you don't use it for some period of time.

[2022-09-11 07:56] ruisaraiva19 commented on #373
I think that's the way browsers work on mobile devices. So, I don't think there is a way to keep playing with locked screen, browser app on the background, etc.

[2022-09-11 08:23] lofti198 commented on #373
By the way, can I use this component to create Android app with react native?

[2022-09-11 09:49] ruisaraiva19 commented on #373
Yes

[2022-09-12 13:21] victoriaunizhona opened #376 "'Deprecated Feature Used' issue in lighthouse test for Best Practice"
I am using 9.0.3 version.

If I check the page with the lighthouse, then I receive such an error related to youtube -

`Event.path is deprecated and will be removed. Please use Event.composedPath() instead.
`

https://chromestatus.com/feature/5726124632965120

Is there any way to fix it?

[2022-09-20 08:29] florianuphoff commented on #369
@ashigirl96 any updates? we encountered the same problem with react 18 and react-youtube@^9.0.0 || ^10.0.0

[2022-09-22 15:23] Ojay commented on #327
Same issue here, also on Next.js... `mute: 1` does work, but I don't want it muted. Tried setting it to `0` but no joy.

[2022-09-24 07:28] BigBallerBrand commented on #367
Having the same issue

[2022-09-29 04:01] kno-raziel commented on #197
same problem here

[2022-10-03 09:11] kunaljaypatel commented on #367
also having the same issue.

[2022-10-16 19:31] elhe26 commented on #369
Same here.

[2022-10-18 12:16] DmitrySheklein opened #377 "Error: ENOENT: no such file or directory, open '/node_modules/react-youtube/dist/index.esm.js'"
Hello, on version [10.0.0] error.

[2022-10-20 13:25] dbuchet opened #378 "Error when building with CRA"
I've updated to version `10.0.0` and have this error on build with `react-scripts`

[code]

I haven't changed anything from when using version `9.0` and seeing changelog, nothing is supposed to have changed 🤔

ps: Don't think it's related, but i'm obviously using `react@18`

[2022-10-22 22:05] #242 closed

[2022-10-30 09:13] staticGuru commented on #370
YouTube's default UI elements can be hidden, related videos can be hidden, and ads can be removed from YouTube videos in react native.

It may help you to meet your requirements if you use the below-mentioned package:
https://www.npmjs.com/package/react_native_youtube_streamer

Besides being open source, the package is scalable as well. It is also possible for you to contribute to that project.

[2022-10-30 09:13] staticGuru commented on #297
YouTube's default UI elements can be hidden, related videos can be hidden, and ads can be removed from YouTube videos in react native.

It may help you to meet your requirements if you use the below-mentioned package:
https://www.npmjs.com/package/react_native_youtube_streamer

Besides being open source, the package is scalable as well. It is also possible for you to contribute to that project.

[2022-10-30 09:14] staticGuru commented on #158
YouTube's default UI elements can be hidden, related videos can be hidden, and ads can be removed from YouTube videos in react native.

It may help you to meet your requirements if you use the below-mentioned package:
https://www.npmjs.com/package/react_native_youtube_streamer

Besides being open source, the package is scalable as well. It is also possible for you to contribute to that project.

[2022-11-02 15:45] dantabel commented on #378
+1
My full error message is:
[code]
react: 16.14.0
react-scripts: 5.0.1
react-youtube: 10.0.0

[2022-11-04 16:10] santi020k commented on #254
In the end, what we did was manage that from the back with the youtube api and transform the data we had to the link that the front needs to make the representation and with sockets we manage the events of the player to inform the back about the behavior of the user regarding the video.

[2022-11-08 04:51] ParkDyel opened #379 "I cannot play video with playVideo() in iOS Webview."
I want to play Youtube video when be isIntersecting.

is working in iOS Safari, Android Webview, but not working in iOS Webview.
in iOS Webview, it seems to play and then immediately stop.

Has anyone experienced anything related?

code on Flutter Webview with React(18.1.9), react-youtube(10.0.0)

[code]

[2022-11-14 09:46] ibrahimyaacob92 commented on #378
getting same issue here

[2022-11-15 01:50] lucianamerege commented on #351
For me it was working until today and suddenly this. Anyone got a solution??

[2022-11-15 20:54] philippechevieux commented on #378
Same issue for me. Has anyone been able to solve it?

[2022-11-17 19:11] Ricardo-Bonin commented on #369
The same here.

[2022-11-17 19:17] danielbeckera commented on #369
Same here, any updates on this?

[2022-11-19 06:33] firofame commented on #254
I believe youtube API has only 100 free hits. why pay for something that is free

[2022-11-19 07:31] santi020k commented on #254
That already corresponds to the company to pay, but it was the best decision for us because in the future work it was much easier with that api

[2022-11-20 14:57] alpharaoh opened #380 "Respect ratio of video to elimate black bars"
For example, a video could have an aspect ratio of 21:9 but the embed always falls back to 16:9 causing black bars to show

[2022-11-22 13:24] adcoding opened #381 "Can't import the named export 'jsx' from non EcmaScript module (only default export is available)"
React with Javascript
Why do I get this error?

./node_modules/react-youtube/dist/YouTube.mjs
Can't import the named export 'jsx' from non EcmaScript module (only default export is available)

[2022-11-22 15:06] ruisaraiva19 commented on #378
@dbuchet whats the version of `react-scripts` that you are using?

[2022-11-22 15:08] ruisaraiva19 commented on #378
@dantabel when using `react-youtube` 10.0.0+, at least React version 17+ is required in order to have the `jsx-runtime` available.

[2022-11-22 15:11] dbuchet commented on #378
I'm using `react-scripts@4.0.3`
Is `5.x.x` now mandatory? Because this indeed looks like a breaking change for me :)

[2022-11-22 15:35] ruisaraiva19 commented on #378
Not mandatory, just to know for testing purposes.

I opened a [PR](https://github.com/tjallingt/react-youtube/pull/382) with a fix.

[2022-11-22 17:28] #378 closed

[2022-11-22 17:28] #381 closed

[2022-11-22 18:39] ruisaraiva19 commented on #378
@dbuchet @angela318 @dantabel @ibrahimyaacob92 @philippechevieux can you please test again with version `10.1.0`?

[2022-11-22 18:40] ruisaraiva19 commented on #381
@adcoding can you please test again with version `10.1.0`?

[2022-11-22 20:21] maxweb4u opened #384 "Uncaught DOMException: Failed to construct 'PresentationRequest': The document is sandboxed and lacks the 'allow-presentation' flag"
I have this mistake when installed latest version: 10.1.0

![error](https://user-images.githubusercontent.com/11961928/203413426-fd76aa4d-3234-450b-804e-9ce5f0173be7.png)

react-youtube: v10.1.0
react: 17.0.2

[2022-11-22 21:08] philippechevieux commented on #378
@ruisaraiva19 It is working great now thank you 👍

[2022-11-22 21:09] ruisaraiva19 commented on #378
Great, thanks for testing!

[2022-11-24 15:46] juniorforlife commented on #369
I got similar error
[code]

This crashes the whole app so it's a critical bug. Please take a look @tjallingt 🙏

[2022-11-25 10:40] adcoding commented on #381
@ruisaraiva19 yeah it's working now... thank you

[2022-11-28 11:17] Ojay commented on #384
Experiencing this too, same setup pretty much. I found [this](https://github.com/nasa8x/v-video-embed/issues/3) issue/fix on a different package which may help get this resolved.

[2022-11-28 13:11] maxweb4u commented on #384
Yes

yes I found this fix too, but it's on another package. And react-youtube doesn't provide an ability to add 'sandbox' property. So how could I add 'allow-presentation' to the sandbox for react-youtube.

[2022-11-28 14:40] Ojay commented on #384
It was more posted for the devs to reference if/when they get to fixing it for this package. Unfortunately I don't think its possible to apply `allow-presentation` to `react-youtube` as is... 😕

[2022-11-28 14:53] ruisaraiva19 commented on #384
The YouTube iframe API already adds the `sandbox` attribute. Not sure we we should mess with it 👀

[2022-11-30 12:47] yshterev commented on #384
`sandbox` seems to add `allow-same-origin allow-scripts allow-forms allow-popups allow-popups-to-escape-sandbox`
The error is about `allow-presentation` which is missing.